{% extends "epub/base.html" %}
{% load reader_extras %}
{% load string_utils %}
{% block base_content %}
        <h2>{{chapter|replace:"βοοκ,Book"|capfirst}}</h2>
		
        {% for verse in verses.all %}
        <span id="verse-{{verse.indicator}}" class="verse-container">
            {% if verse.indicator|length > 0 %}
            <span class="label verse number">{{verse.indicator}}</span>
	        {% endif %}
	        
	        <span class="verse view_read_work ">
	        {% if verse.original_content|length == 0 %}
	        {{verse.content|unbound_text_to_html5|safe}}
	        {% else %}
	        {{verse.original_content|perseus_xml_to_epub_html5:chapter.work.language|safe}}
	        {% endif %}
	        </span>
        </span>
        {% endfor %}
        
        {% if notes %}
        <h3>Notes</h3>
		<ul>
			{% for note in notes %}
			<li><a name="note_content_{{forloop.counter}}" href="#note_anchor_{{forloop.counter}}"><strong>{{forloop.counter}}</strong></a>: {{note.text}}</li>
			{% endfor %}
		</ul>
		{% endif %}
        
{% endblock %}