
/* -------------------------------------------------- 
   Table of Contents
   --------------------------------------------------
:: Shared Styles
:: Home page
:: Read Work
:: Data Tables
:: Works Index
*/


/* -----------------------------------------
   Shared Styles
   ----------------------------------------- */
body > .container{
	margin-top: 20px;
}
   
.header{
    background-color: #ededed;
    background-image: -ms-linear-gradient(bottom, #EDEDED 0%, #FEFEFE 100%);
    background-image: -moz-linear-gradient(bottom, #EDEDED 0%, #FEFEFE 100%);
    background-image: -o-linear-gradient(bottom, #EDEDED 0%, #FEFEFE 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #EDEDED), color-stop(1, #FEFEFE));
    background-image: -webkit-linear-gradient(bottom, #EDEDED 0%, #FEFEFE 100%);
    background-image: linear-gradient(to top, #EDEDED 0%, #FEFEFE 100%);
}

footer{
    padding-top: 50px;	
}

footer p{
    margin-bottom: 0px;
    padding-top: 0px;
}

body.dark footer a{
	color: #c6c6c6;
    text-decoration: underline;	
}

a.external{
	background: url(/media/images/link_external.png) center right no-repeat;
	padding-right: 13px;
}

a.new-window{
	background: url(/media/images/link_new_window.png) center right no-repeat;
	padding-right: 13px;
}

footer ul{
	margin-top: 0px;
	margin-left: 0px;
}

footer .addthis_toolbox {
	min-width: 130px;
}

.footer-links li {
    display: inline;
    padding: 0 0;
}

.control-group .input-append .btn-group .last-button {
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.control-group .input-append .btn-group .middle-button{
	-webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
}

.input-append > .btn-group + .btn-group, .no-left-margin {
	margin-left: -1px;
}

/*
 * Below are some fixes for Darkstrap
 */
@media (max-width: 979px){
	body.dark .nav-collapse .nav > li > a, body.dark .nav-collapse .dropdown-menu a{
		color: #c6c6c6;
		font-weight: normal;
	}
	
	body.dark .nav-collapse .nav > li > a:hover, body.dark .nav-collapse .dropdown-menu a:hover{
		background-color: #222222;
	}
	
	body.dark .nav-collapse .navbar-form, body.dark .nav-collapse .navbar-search {
		border-top: 0;
		border-bottom: 0;
		
		-webkit-box-shadow: 0 0 0;
		-moz-box-shadow: 0 0 0;
		box-shadow: 0 0 0;
		
	}
}

@import "home";
@import "read_work";
@import "data_tables";
@import "works_index";
@import "search";
@import "about";
@import "404";
@import "500";