.add-space {
  margin-top: 64px; }

.add-space-small {
  margin-top: 16px; }

.view_read_work .speaker {
  font-weight: bold;
  display: block;
  margin-top: 12px; }
.view_read_work .milestone {
  color: #999999; }
.view_read_work [data-rend=italics] {
  font-style: italic; }
.view_read_work .milestone[data-n].milestone[data-unit]:after {
  font-size: smaller;
  margin: 3px;
  content: "[" attr(data-unit) " " attr(data-n) "]"; }
.view_read_work .milestone[data-unit=para] {
  display: block;
  padding-top: 12px; }
.view_read_work .l {
  display: block; }
.view_read_work .gap {
  content: "..."; }
.view_read_work .quote, .view_read_work .q {
  font-style: italic; }
.view_read_work .docauthor {
  display: block;
  padding-bottom: 16px; }
.view_read_work .label:not(.block) .label {
  margin-left: 8px;
  margin-right: 4px; }
.view_read_work .note-tag {
  margin-left: 4px;
  margin-right: 2px;
  cursor: hand;
  cursor: pointer; }
.view_read_work .read-more {
  margin-top: 16px;
  display: block; }
.view_read_work .lb {
  display: block; }
.view_read_work .div3 {
  padding-top: 16px;
  display: block; }
.view_read_work .quote > .title {
  font-weight: bold;
  display: block; }
.view_read_work .castlist:before {
  content: "Cast list: "; }
.view_read_work .castlist > .castitem:after {
  content: ", "; }
.view_read_work .castlist > .castitem:last-child:after {
  content: ""; }
.view_read_work .argument {
  font-style: italic; }
