@import "shortcuts";
@import "perseus";

/* -----------------------------------------
   Read work
   ----------------------------------------- */

.verse.number{
    font-weight: bold;
}

.verse-container{
    display: inline;
    line-height: 25px;
}

.block{
    display: block;
    margin-top: 12px;
}

.table-of-contents{
    display: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
    .nav-list{
		max-height: 350px;
		overflow-y: auto;
	}
}

.verse-link{
    &:visited { color: #EEE; }
    &:active { color: #EEE; }
    &:link { color: #EEE; }
    &:hover { color: #08C; }
}

@include keyframes(highlighted){
    0% {
        background: #b94a48;
    }
    50% {
        background: #b94a48;
    }
    100% {
        background: #EEE;
    }
}

@include keyframes(highlighted-dark){
    0% {
        background: #b94a48;
    }
    25% {
        background: #b94a48;
    }
    100% {
        background: #454545;
    }
}

.verse-container.highlighted{
    background-color: #EEE;
    @include rounded(3px);
    @include animation(highlighted, 2.5s);
}

body.dark .verse-container.highlighted{
    background-color: #454545;
    @include animation(highlighted-dark, 2.5s);
}

.word.highlighted{
    @include rounded(3px);
    background-color: #49AFCD;
    color: white;
}

@for $i from 2 through 5 {
    .division-#{$i} { padding-left: 24px * ($i - 1); }
}

.verse{
    
	.word{
		cursor:pointer;
		cursor:hand;		
	}
	
	.word:hover{
		text-decoration: underline;
	}
}

.page-shortcuts{
	position: absolute;
	top: 25%;
}

.page-shortcut{
	height: 50%;
	width: 32px;
	display: none;
	position: fixed;
	opacity: 0.4;
}

.page-shortcut:hover {
	background-color: white;
}

.prior-page-shortcut{
	left: 0px;
	background-image: url("/media/images/back.png");
	background-repeat: no-repeat;
	background-position-y: 50%;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

.next-page-shortcut{
	right: 0px;
	background-image: url("/media/images/forward.png");
	background-repeat: no-repeat;
	background-position-y: 50%;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

@media screen and (min-width: 321px){
    /* Hide the page shortcuts on small device screens since the buttons tend to overlap with the dropdown menus*/
	.page-shortcut{
    	display: block;
    }
}



.dialog-extra-options{
	margin-top: 6px;
}

.table-of-contents .division-filter{
	width: 100%;
	border-radius: 0px;
}

.table-of-contents{
	border: 2px solid rgb(68, 68, 68);
	border-radius: 6px;
	margin-bottom: 12px;
}

.share-link{
	margin-left: 10px;
	background-position-x: 0px;
	background-position-y: 4px;
	background-repeat: no-repeat;
}

.share-facebook{
	background-image: url('/media/images/facebook-16.png');
}

.share-twitter{
	background-image: url('/media/images/twitter-16.png');
}

/*
.share-email{
	margin-left: 0px;
	padding-left: 11px;
}

.share-email > i {
	padding-right: 5px;
}
*/

.share-email:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 16px;
  height: 16px;
  background-image: url("/media/images/glyphicons-halflings.png");
  margin-left: -19px;
  background-position: -72px 2px;
}