@import "shortcuts";

/* -----------------------------------------
   Read work
   ----------------------------------------- */

.verse.number{
    font-weight: bold;
}

.verse-container{
    display: inline;
    line-height: 25px;
}

.block{
    display: block;
    margin-top: 12px;
}

.table-of-contents{
    display: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
    .nav-list{
		max-height: 350px;
		overflow-y: auto;
	}
}

.verse-link{
    &:visited { color: #EEE; }
    &:active { color: #EEE; }
    &:link { color: #EEE; }
    &:hover { color: #08C; }
}

@include keyframes(highlighted){
    0% {
        background: #b94a48;
    }
    50% {
        background: #b94a48;
    }
    100% {
        background: #EEE;
    }
}

@include keyframes(highlighted-dark){
    0% {
        background: #b94a48;
    }
    25% {
        background: #b94a48;
    }
    100% {
        background: #454545;
    }
}

.verse-container.highlighted{
    background-color: #EEE;
    @include rounded(3px);
    @include animation(highlighted, 2.5s);
}

body.dark .verse-container.highlighted{
    background-color: #454545;
    @include animation(highlighted-dark, 2.5s);
}

.word.highlighted{
    @include rounded(3px);
    background-color: #49AFCD;
    color: white;
}

@for $i from 2 through 5 {
    .division-#{$i} { padding-left: 24px * ($i - 1); }
}

.verse{
    
	.word{
		cursor:pointer;
		cursor:hand;		
	}
	
	.word:hover{
		text-decoration: underline;
	}
}

.page-shortcuts{
	position: absolute;
	top: 25%;
}

.page-shortcut{
	height: 50%;
	width: 32px;
	display: block;
	position: fixed;
	opacity: 0.4;
}

.page-shortcut:hover {
	background-color: white;
}

.prior-page-shortcut{
	left: 0px;
	background-image: url("/media/images/back.png");
	background-repeat: no-repeat;
	background-position-y: 50%;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

.next-page-shortcut{
	right: 0px;
	background-image: url("/media/images/forward.png");
	background-repeat: no-repeat;
	background-position-y: 50%;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

.view_read_work{
    
    .speaker {
        font-weight: bold;
        display: block;
        margin-top: 12px;
    }
    
    .milestone {
    	color: #999999;
    }
    
    [data-rend=italics]{
    	font-style: italic;
    }
    
    .milestone[data-n].milestone[data-unit]:after {
		font-size: smaller;
		margin: 3px;
		content: "[" attr(data-unit) " " attr(data-n) "]";
	}
	
	.milestone[data-unit=para]{
	     display: block;
	     padding-top: 12px;
	}
    
    .l {
        display: block;
    }
    
    .gap{
        content: "...";
    }
    
    .quote, .q{
        font-style: italic;
    }
    
    .bibl{
        
    }
    
    .docauthor{
    	display: block;
    	padding-bottom: 16px;
    }
    
    .label:not(.block) .label{
    	margin-left: 8px;
    	margin-right: 4px;
    }
    
    .note-tag{
    	margin-left: 4px;
    	margin-right: 2px;
    	cursor: hand;
    	cursor: pointer;
    }
    
	.read-more{
		margin-top: 16px;
		display: block;
	}
    
    .lb{
    	display: block;
    }
    
    .div3{
    	padding-top: 16px;
    	display: block;
    }
    
    .quote > .title{
    	font-weight: bold;
    	display: block;
    }
    
    .castlist:before{
    	content: "Cast list: ";
    }
    
    .castlist > .castitem:after{
    	content: ", ";
    }
    
    .castlist > .castitem:last-child:after{
    	content: "";
    }
    
    .argument{
    	font-style:italic;
    }
}

.dialog-extra-options{
	margin-top: 6px;
}
