
.actions_500{
	padding-top: 20px;
}

.refresh_button{
	margin-right: 4px;
}

.reload_button{
	margin-right: 4px;
}

#website_available{
	display: none;
}

.dialog_button_icon{
	padding-right: 8px;
}

#site_back_online_dialog{
	display:none;
}