
/* -------------------------------------------------- 
   Table of Contents
   --------------------------------------------------
:: Shared Styles
:: Home page
:: Read Work
:: Data Tables
:: Works Index
*/


/* -----------------------------------------
   Shared Styles
   ----------------------------------------- */
.header{
    background-color: #ededed;
    background-image: -ms-linear-gradient(bottom, #EDEDED 0%, #FEFEFE 100%);
    background-image: -moz-linear-gradient(bottom, #EDEDED 0%, #FEFEFE 100%);
    background-image: -o-linear-gradient(bottom, #EDEDED 0%, #FEFEFE 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #EDEDED), color-stop(1, #FEFEFE));
    background-image: -webkit-linear-gradient(bottom, #EDEDED 0%, #FEFEFE 100%);
    background-image: linear-gradient(to top, #EDEDED 0%, #FEFEFE 100%);
}

/* The following is necessary to work with darkstrap */
body.dark .well, body.dark .breadcrumb, body.dark input, body.dark input[type="file"], body.dark select, body.dark textarea, body.dark .progress, body.dark code, body.dark pre {
	-moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	-o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
	background: #202020;
	background-color: rgba(0, 0, 0, 0.3);
}

body.dark input, body.dark input[type="file"], body.dark select, body.dark textarea {
	color: white;
	border-color: #111111;
}

body.dark .pagination ul > li > a,body.dark .pagination ul > li > span{
	background-color: transparent;
}

body.dark .pagination ul > li > a:hover{
	background-color: #222222;
	color: #00aaff;
}

body.dark .pagination .active a {
    color: #fff;
    background-color: #222222;
}

body.dark .pagination a {
    border-color: #666;
}

footer{
    padding-top: 50px;	
}

footer p{
    margin-bottom: 0px;
    padding-top: 0px;
}

body.dark footer a{
	color: #c6c6c6;
    text-decoration: underline;	
}

footer ul{
	margin-top: 0px;
	margin-left: 0px;
}

footer .addthis_toolbox {
	min-width: 130px;
}

.footer-links li {
    display: inline;
    padding: 0 0;
}

@import "home";
@import "read_work";
@import "data_tables";
@import "works_index";
@import "404";
@import "500";