
/* -------------------------------------------------- 
   Table of Contents
   --------------------------------------------------
:: Shared Styles
:: Home page
:: Read Work
:: Data Tables
:: Works Index
*/


/* -----------------------------------------
   Shared Styles
   ----------------------------------------- */
body > .container{
	margin-top: 20px;
}
   
.header{
    background-color: #ededed;
    background-image: -ms-linear-gradient(bottom, #EDEDED 0%, #FEFEFE 100%);
    background-image: -moz-linear-gradient(bottom, #EDEDED 0%, #FEFEFE 100%);
    background-image: -o-linear-gradient(bottom, #EDEDED 0%, #FEFEFE 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #EDEDED), color-stop(1, #FEFEFE));
    background-image: -webkit-linear-gradient(bottom, #EDEDED 0%, #FEFEFE 100%);
    background-image: linear-gradient(to top, #EDEDED 0%, #FEFEFE 100%);
}

.textcritical .navbar-inner{
	background-image: linear-gradient(rgb(34, 34, 34), rgb(34, 34, 34));
}

.textcritical .squared-search-query{
	margin-bottom: 0px;
}

footer{
    padding-top: 10px;	
}

footer p{
    margin-bottom: 0px;
    padding-top: 0px;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

body.dark footer a{
	color: #c6c6c6;
    text-decoration: underline;	
}

a.external{
	background: url(/media/images/link_external.png) center right no-repeat;
	padding-right: 13px;
}

a.new-window{
	background: url(/media/images/link_new_window.png) center right no-repeat;
	padding-right: 13px;
}

footer ul{
	margin-top: 0px;
	margin-left: 0px;
}

footer .addthis_toolbox {
	min-width: 130px;
}

.footer-links li {
    display: inline;
    padding: 0 0;
}

.control-group .input-append .btn-group .last-button {
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.control-group .input-append .btn-group .middle-button{
	-webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
}

.input-append > .btn-group + .btn-group, .no-left-margin {
	margin-left: -1px;
}

.ajah-loading{
	width: 36px;
	padding-top: 60px;
	margin: 0 auto;
}

.main-content-holder{
	min-height: 150px;
}

.current-place-in-text{
	display: block;
	height: 22px;
}

/* See http://forrst.com/posts/Bootstrap_right_positioned_dropdown-2KB */
.dropdown-menu.right {
	left: auto;
	right: 0;
    &::before {left:auto !important; right:9px;}
    &::after {left:auto !important; right:10px;}
}

@media print {
    /* Override the addition of hrefs to the print media */
	.textcritical a[href]:after {
		content: "";
	}

	a.print-append-href[href]:after {
		content: " (" attr(href) ")";
	}

	a.print-dont-append-href[href]:after {
		content: "";
	}
	
	.breadcrumb, .footer-links, .current-place-in-text, .sharing-buttons, .container > .nav-collapse, .container > .btn.btn-navbar{
		display: none;
	}
	
	.print-url{
		margin-top: 12px;
	}
	
}

/*
 * Below are some fixes for Darkstrap
 */
@media (max-width: 979px){
	body.dark .nav-collapse .nav > li > a, body.dark .nav-collapse .dropdown-menu a{
		color: #c6c6c6;
		font-weight: normal;
	}
	
	body.dark .nav-collapse .nav > li > a:hover, body.dark .nav-collapse .dropdown-menu a:hover{
		background-color: #222222;
	}
	
	body.dark .nav-collapse .navbar-form, body.dark .nav-collapse .navbar-search {
		border-top: 0;
		border-bottom: 0;
		
		-webkit-box-shadow: 0 0 0;
		-moz-box-shadow: 0 0 0;
		box-shadow: 0 0 0;
		
	}
}

.dark .nav-tabs > .active > a:focus{
  background-color: #2f2f2f;
  color: white;
  border-color: #666666 #666666 transparent #666666;
}

.facebook-block{
	float:left;
	width: 50%;
}

.twitter-block{
	float:right;
	width: 50%;
}

.some-margin-top{
	margin-top: 16px;
}

/*
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

.sharing-buttons{
	text-align: center;
	cursor: pointer;
	height: 32px;
	
	#buttons {
		width: 660px;
		overflow: hidden;
		margin: 0px auto 0;
	}
	
	
	.button {
	    background: #DCE0E0;
	    position: relative;
	    display: block;
	    float: left;
	    height: 40px;
	    margin: 0 7px;
	    overflow: hidden;
	    width: 150px;
	    border-radius: 3px;
	    -o-border-radius: 3px;
	    -ms-border-radius: 3px;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	}
	
	.icon {
	    display: block;
	    float: left;
	    position: relative;
	    z-index: 3;
	    height: 100%;
	    vertical-align: top;
	    width: 38px;
	    -moz-border-radius-topleft: 3px;
	    -moz-border-radius-topright: 0px;
	    -moz-border-radius-bottomright: 0px;
	    -moz-border-radius-bottomleft: 3px;
	    -webkit-border-radius: 3px 0px 0px 3px;
	    border-radius: 3px 0px 0px 3px;
	    text-align: center;
	}
	
	.icon i {
	    color: #fff;
	    line-height: 36px;
	}
	
	.slide {
	    z-index: 2;
	    display: block;
	    margin: 0;
	    height: 100%;
	    left: 38px;
	    position: absolute;
	    width: 112px;
	    -moz-border-radius-topleft: 0px;
	    -moz-border-radius-topright: 3px;
	    -moz-border-radius-bottomright: 3px;
	    -moz-border-radius-bottomleft: 0px;
	    -webkit-border-radius: 0px 3px 3px 0px;
	    border-radius: 0px 3px 3px 0px;
	}
	
	.slide p {
	    font-family: Open Sans;
	    font-weight: 400;
	    border-left: 1px solid #fff;
	    border-left: 1px solid rgba(255,255,255,0.35);
	    color: #fff;
	    font-size: 16px;
	    left: 0;
	    margin: 0;
	    position: absolute;
	    text-align: center;
	    top: 10px;
	    width: 100%;
	}
	
	.button .slide {
	    -webkit-transition: all 0.2s ease-in-out;
	    -moz-transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
	    -o-transition: all 0.2s ease-in-out;
	    transition: all 0.2s ease-in-out;
	}
	
	.facebook iframe {
	    display: block;
	    position: absolute;
	    /*right: 16px;*/
	    top: 10px;
	    z-index: 1;
	}
	
	.twitter iframe {
	    width: 90px !important;
	    right: 5px;
	    top: 10px;
	    z-index: 1;
	    display: block;
	    position: absolute;
	}
	
	.google #___plusone_0 {
	    width: 70px !important;
	    top: 10px;
	    right: 15px;
	    position: absolute;
	    display: block;
	    z-index: 1;
	}
	
	.linkedin .IN-widget {
	    top: 10px;
	    right: 22px;
	    position: absolute;
	    display: block;
	    z-index: 1;
	}
	
	.facebook:hover .slide {
	    left: 150px;
	}
	
	.twitter:hover .slide {
	    top: -40px;
	}
	
	.google:hover .slide {
	    bottom: -40px;
	}
	
	.linkedin:hover .slide {
	    left: -150px;
	}
	
	.facebook .icon, .facebook .slide {
	    background: #305c99;
	}
	
	.twitter .icon, .twitter .slide {
	    background: #00cdff;
	}
	
	.google .icon, .google .slide {
	    background: #d24228;
	}
	
	.linkedin .icon, .linkedin .slide {
	    background: #007bb6;
	}

}

@import "fontello-embedded";
@import "bootstrap_no_epub";
@import "loading_animation";
@import "home";
@import "read_work";
@import "data_tables";
@import "works_index";
@import "search";
@import "about";
@import "beta_code_converter";
@import "404";
@import "500";