.textcritical .clearable{
  background-image: url('data:image/gif;base64,R0lGODdhBwAHAJEAAAAAAJKSkv///wAAACH5BAkAAAMALAAAAAAHAAcAAAIMTIams2rIXnLxuDMLADs=');
  background-repeat: no-repeat;
  background-position: right -10px center;
  transition: background-position 0.4s;
}

.textcritical .clearable.x  {
    background-position: right 5px center;
}

/* (jQ) Show icon */
.textcritical .clearable.onX{
    cursor: pointer;
}

/* (jQ) hover cursor style */
.textcritical .clearable::-ms-clear {
  display: none;
  width:0;
  height:0;
} /* Remove IE default X */