/* -----------------------------------------
   jQuery data tables
   ----------------------------------------- */
$hover_background_color: #F5F5F5;

#works_list_info{
    padding-bottom: 12px;
}

#works_list_filter{
    float: right;
    margin-top: 8px;
}

.paginate_button {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    padding: 5px 14px;
    margin-bottom: 16px;
}

.dataTables_paginate > span > a{
    margin-left: 3px;
    margin-right: 3px;
}

#works_list_next{
    /* float: right; */
    &:after { content: " \2192"; }
}

#works_list_previous{
	float: left;
	&:before { content: "\2190  "; }
}

.paginate_button.disabled{
	&:hover {
	   background-color: $hover_background_color;
	   color: #005580;
	   text-decoration: none;
	   cursor: pointer;
       cursor: hand;
	}
}

.paginate_button.disabled{
    color: #999999;
    cursor: default;
    &:hover {
	   background-color: $hover_background_color;
	   text-decoration: none;
    }
}

.tree{
    cursor: pointer;
    cursor: hand;
}

/* The following is necessary to work with darkstrap */
$hover_background_color_dark: #222222;
body.dark .paginate_button.disabled{
    border-color: #666;
    background-color: transparent;
    &:hover {
       background-color: $hover_background_color_dark;
       color: #00aaff;
    }
}

body.dark .paginate_button{
    border-color: #666;
    background-color: transparent;
    &:hover {
       background-color: $hover_background_color_dark;
       color: #00aaff;
    }
}

body.dark .table-hover tbody tr:hover td,
body.dark .table-hover tbody tr:hover th {
    background-color: #3A3A3A;
}

body.dark .dataTables_filter > label > input{
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-color: #111111;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}