.add-space {
  margin-top: 64px; }

/* -----------------------------------------
   Read work
   ----------------------------------------- */
.verse.number {
  font-weight: bold; }

.verse-container {
  display: inline;
  line-height: 25px; }

.block {
  display: block;
  margin-top: 12px; }

.table-of-contents {
  display: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden; }
  .table-of-contents .nav-list {
    max-height: 350px;
    overflow-y: auto; }

.verse-link:visited {
  color: #EEE; }
.verse-link:active {
  color: #EEE; }
.verse-link:link {
  color: #EEE; }
.verse-link:hover {
  color: #08C; }

@-webkit-keyframes highlighted {
  0% {
    background: #b94a48; }

  50% {
    background: #b94a48; }

  100% {
    background: #EEE; } }

@-moz-keyframes highlighted {
  0% {
    background: #b94a48; }

  50% {
    background: #b94a48; }

  100% {
    background: #EEE; } }

@-ms-keyframes highlighted {
  0% {
    background: #b94a48; }

  50% {
    background: #b94a48; }

  100% {
    background: #EEE; } }

@keyframes highlighted {
  0% {
    background: #b94a48; }

  50% {
    background: #b94a48; }

  100% {
    background: #EEE; } }

@-webkit-keyframes highlighted-dark {
  0% {
    background: #b94a48; }

  25% {
    background: #b94a48; }

  100% {
    background: #454545; } }

@-moz-keyframes highlighted-dark {
  0% {
    background: #b94a48; }

  25% {
    background: #b94a48; }

  100% {
    background: #454545; } }

@-ms-keyframes highlighted-dark {
  0% {
    background: #b94a48; }

  25% {
    background: #b94a48; }

  100% {
    background: #454545; } }

@keyframes highlighted-dark {
  0% {
    background: #b94a48; }

  25% {
    background: #b94a48; }

  100% {
    background: #454545; } }

.verse-container.highlighted {
  background-color: #EEE;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-animation: highlighted 2.5s;
  -webkit-animation: highlighted 2.5s;
  -o-animation: highlighted 2.5s;
  animation: highlighted 2.5s; }

body.dark .verse-container.highlighted {
  background-color: #454545;
  -moz-animation: highlighted-dark 2.5s;
  -webkit-animation: highlighted-dark 2.5s;
  -o-animation: highlighted-dark 2.5s;
  animation: highlighted-dark 2.5s; }

.word.highlighted {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #49AFCD;
  color: white; }

.division-2 {
  padding-left: 24px; }

.division-3 {
  padding-left: 48px; }

.division-4 {
  padding-left: 72px; }

.division-5 {
  padding-left: 96px; }

.verse .word {
  cursor: pointer;
  cursor: hand; }
.verse .word:hover {
  text-decoration: underline; }

.page-shortcuts {
  position: absolute;
  top: 25%; }

.page-shortcut {
  height: 50%;
  width: 32px;
  display: none;
  position: fixed;
  opacity: 0.4; }

.page-shortcut:hover {
  background-color: white; }

.prior-page-shortcut {
  left: 0px;
  background-image: url("/media/images/back.png");
  background-repeat: no-repeat;
  background-position-y: 50%;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em; }

.next-page-shortcut {
  right: 0px;
  background-image: url("/media/images/forward.png");
  background-repeat: no-repeat;
  background-position-y: 50%;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em; }

@media screen and (min-width: 321px) {
  /* Hide the page shortcuts on small device screens since the buttons tend to overlap with the dropdown menus*/
  .page-shortcut {
    display: block; } }
.view_read_work .speaker {
  font-weight: bold;
  display: block;
  margin-top: 12px; }
.view_read_work .milestone {
  color: #999999; }
.view_read_work [data-rend=italics] {
  font-style: italic; }
.view_read_work .milestone[data-n].milestone[data-unit]:after {
  font-size: smaller;
  margin: 3px;
  content: "[" attr(data-unit) " " attr(data-n) "]"; }
.view_read_work .milestone[data-unit=para] {
  display: block;
  padding-top: 12px; }
.view_read_work .l {
  display: block; }
.view_read_work .gap {
  content: "..."; }
.view_read_work .quote, .view_read_work .q {
  font-style: italic; }
.view_read_work .docauthor {
  display: block;
  padding-bottom: 16px; }
.view_read_work .label:not(.block) .label {
  margin-left: 8px;
  margin-right: 4px; }
.view_read_work .note-tag {
  margin-left: 4px;
  margin-right: 2px;
  cursor: hand;
  cursor: pointer; }
.view_read_work .read-more {
  margin-top: 16px;
  display: block; }
.view_read_work .lb {
  display: block; }
.view_read_work .div3 {
  padding-top: 16px;
  display: block; }
.view_read_work .quote > .title {
  font-weight: bold;
  display: block; }
.view_read_work .castlist:before {
  content: "Cast list: "; }
.view_read_work .castlist > .castitem:after {
  content: ", "; }
.view_read_work .castlist > .castitem:last-child:after {
  content: ""; }
.view_read_work .argument {
  font-style: italic; }

.dialog-extra-options {
  margin-top: 6px; }

.table-of-contents .division-filter {
  width: 100%;
  border-radius: 0px; }

.table-of-contents {
  border: 2px solid #444444;
  border-radius: 6px;
  margin-bottom: 12px; }

.share-link {
  margin-left: 10px;
  background-position-x: 0px;
  background-position-y: 4px;
  background-repeat: no-repeat; }

.share-facebook {
  background-image: url("/media/images/facebook-16.png"); }

.share-twitter {
  background-image: url("/media/images/twitter-16.png"); }

/*
.share-email{
	margin-left: 0px;
	padding-left: 11px;
}

.share-email > i {
	padding-right: 5px;
}
*/
.share-email:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 16px;
  height: 16px;
  background-image: url("/media/images/glyphicons-halflings.png");
  margin-left: -19px;
  background-position: -72px 2px; }
