/* -----------------------------------------
   Homepage
   ----------------------------------------- */

#title_section{
    text-align: center;
}

.hero-unit.main_background{
    background-image: url('/media/images/background.png');
    background-position: center;
    color: white;
}