/* -----------------------------------------
   Homepage
   ----------------------------------------- */

#title_section{
    text-align: center;
}

.hero-unit.main_background{
	
    background-image: url('/media/images/background.png');
    background-position: center;
    
	/* http://www.visualcsstools.com/ */
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwLjAxMDE2NyIgc3RvcC1jb2xvcj0iIzcwMkY3RCIvPjxzdG9wIG9mZnNldD0iMC41Mjk5MTciIHN0b3AtY29sb3I9IiMxZDNlNmQiLz48c3RvcCBvZmZzZXQ9IjAuOTc5OTE3IiBzdG9wLWNvbG9yPSIjMDk2QjkxIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9IiMwOTZCOTEiIC8+PHJlY3QgeD0iLTQxLjQyMTQlIiB5PSItNDEuNDIxNCUiIHdpZHRoPSIyODIuODQyNyUiIGhlaWdodD0iMjgyLjg0MjclIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
	background-image: -webkit-gradient(radial, 100% 100%, 0, 100% 100%, 811, color-stop(1.0167%, #702F7D), color-stop(52.9917%, #1d3e6d), color-stop(97.9917%, #096B91));
	background-image: -webkit-radial-gradient(right bottom, farthest-corner, #702F7D 1.0167%, #1d3e6d 52.9917%, #096B91 97.9917%);
	background-image: -moz-radial-gradient(right bottom, farthest-corner, #702F7D 1.0167%, #1d3e6d 52.9917%, #096B91 97.9917%);
	background-image: -ms-radial-gradient(right bottom, farthest-corner, #702F7D 1.0167%, #1d3e6d 52.9917%, #096B91 97.9917%);
	background-image: -o-radial-gradient(right bottom, farthest-corner, #702F7D 1.0167%, #1d3e6d 52.9917%, #096B91 97.9917%);
	background-image: radial-gradient(farthest-corner at right bottom, #702F7D 1.0167%, #1d3e6d 52.9917%, #096B91 97.9917%);
	
    color: white;
}