/* https://codepen.io/alanshortis/pen/eJLVXr */
@keyframes spin {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(360deg); } }

.loading-animated {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  animation: spin 1s infinite linear;
  display: inline-block; }

#loading-text {
  display: inline-block;
  vertical-align: top;
  padding: 6px 0 0 8px; }
