@import "shortcuts";

/* -----------------------------------------
   Read work
----------------------------------------- */

.verse.number{
    font-weight: bold;
}

.verse_container{
    display: inline;
    line-height: 25px;
    padding: 5px;
}

.block{
    display: block;
    margin-top: 16px;
}

.table_of_contents{
    display: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.verse_link{
    &:visited { color: #EEE; }
    &:active { color: #EEE; }
    &:link { color: #EEE; }
    &:hover { color: #08C; }
}


.highlighted{
    background-color: #EEE;
    @include rounded(3px);
}

@for $i from 2 through 5 {
    .division_#{$i} { padding-left: 24px * ($i - 1); }
}

.verse{
    
    .speaker {
        font-weight: bold;
        display: block;
        margin-top: 12px;
    }
    
    .l {
        display: block;
    }
    
    .gap{
        
    }
    
    .quote{
        
    }
    
    .bibl{
        
    }
}