@import "shortcuts";

/* -----------------------------------------
   Search
   ----------------------------------------- */

.searching-animation{
    width: 100px;
    margin-top: 145px;
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position: 1px 2px;
    background-image: url(../images/ajax_loader.gif);
    display: none;
    top: 100px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    z-index: 10000;
}

.dark .searching-animation{
	background-image: url(../images/ajax_loader_dark.gif);
}

b.match{
	font-weight: bold;
	background-color: #3a87ad;
	color: white;
	@include rounded(3px);
}

.search-results{

	.highlights{
		
	}
	
	.work-description{
		margin-top: 16px;
	}
	
}

.search-results-page-info{
	margin-top: 24px;
}

.next-page-link{
	cursor: hand;
	cursor: pointer;
}

.previous-page-link{
	cursor: hand;
	cursor: pointer;
}

#search-help-link{
	position: relative;
	top: -49px;
	float: right;
}

.search-example{
	font-family: monospace;
}

div.search-example{
	margin-left: 32px;
}

#related_forms{
	margin-right: 6px;
	margin-left: 2px;
}

label.checkbox-label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

input[type='checkbox'] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    margin-right: 8px;
    vertical-align: bottom;
    position: relative;
    top: -3px;
    *overflow: hidden;
}

#uv-div{
	
}