/* -----------------------------------------
   Works index
   ----------------------------------------- */

.view_works_index h1, .view_home h1{
  font-size: 20pt;
}

.loading_animation{
    margin-left:auto;
    margin-right:auto;
    width: 100px;
    margin-top: 200px;
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position: 1px 2px;
    background-image: url(../images/ajax_loader.gif);
}

.dark .loading_animation{
	background-image: url(../images/ajax_loader_dark.gif);
}

#works_list{
	display: none;
}

.dataTables_filter input{
	margin-top: 9px;
	margin-left: 5px;
}

#works_list_paginate{
	height: 22px;
}

.sorting_asc, .sorting_desc{
  background-repeat: no-repeat;
  background-position: right;
}

.sorting_asc{
  background-image: url("../images/sort_up.png");
}

.sorting_desc{
  background-image: url("../images/sort_down.png");
}

.work-icon-holder{
  width: 42px;
  height: 40px;
}

.work-description > div{
  margin-left: 42px;
}

/* Style the options dropdown in the list of works */
.work-options > a{
  padding: 4px 4px 4px 4px;
  cursor: pointer;
  color: #c6c6c6;
}

.work-options > a:hover{
  color: #c6c6c6;
}

.work-options> a > .caret{
  border-top: 4px solid #c6c6c6;
}

.work-icon-holder > a > .work-image{
  height: 40px;
  width: 30px;
  background-image: url("/media/images/book-cover-small.png");
}
