{% extends "base_with_nav.html" %}


{% block content %}
<div class="main-content-holder">
	<div id="async-loading-message" class="ajah-loading">
		<div class="loading-container">
			<div class="loading"></div>
			<div id="loading-text">loading</div>
		</div>
	</div>
	<span id="main-content" style="display:none"></span>
</div>
{% endblock %}


{% block javascript %}
<script language="javascript">
require(["jquery", "app"], function($) {
	$('.bar'). css('width', '100%');
	TextCritical.load_ajah('{{content_url}}');
});
</script>
{% endblock %}