{% extends "base_with_nav.html" %}
{% block content %}
	<form id="beta-code-form">
		<legend>Beta-code converter</legend>
	    Enter beta-code below and it will be converted to Greek Unicode automatically
	    
	    <div class="beta-code-entry">
	    	<textarea class="span12" id="text" placeholder="Enter beta-code" type="text"></textarea>
	    </div>
	</form>
	
	Unicode (click the word to do a morphological lookup):
	<div id="converted-content" class="verse text-output well"></div>
	
	<button id="search-button" class="btn btn-primary" type="button">Search for this text</button>
{% endblock %}

{% block javascript %}
<script language="javascript">

require(["jquery", "app", "underscore"], function($) {
	
	var converted_content = null;
	
	function update_output(){
		
		var str = TextCritical.convert_search_query_beta_code( $('#text').val() );
		converted_content = str;
		
		TextCritical.add_word_morphology_links($('#converted-content'), str);
		
	}
	
	$(document).ready(function() {
		
		$('#text').keyup(_.debounce(function(){
			
			update_output();
			$(".word").click( TextCritical.word_lookup );
		}, 250))
		
		$('#search-button').click( function(){
			document.location = "/search?q=" + converted_content;
		});
		
	});

});
</script>
{% endblock %}