{% extends "base_with_nav.html" %}
{% block content %}
        <ul class="breadcrumb">
            <li><a href="{% url home %}">Home</a> <span class="divider">/</span></li>
            <li class="active">Contact</li>
        </ul>
        
        <h1>Get In Touch</h1>
        We want to here from you.
        Bug reports, feature requests, or just a thumbs up are all good.
        		        
        <h2>Bug reports</h2>
        We love bug reports (well, kind of).
        If you found something that doesn't work, please make a issue at <a href="http://lukemurphey.net/projects/ancient-text-reader/issues/new">LukeMurphey.net</a>.
        You don't need an account to make a bug report so it should be a rather painless process.
        You will probably get a response to the issue within 24 hours.
        
        You might want to <a href="http://lukemurphey.net/projects/ancient-text-reader/issues?query_id=7">search the currently open issues</a> to make sure it wasn't already reported.
        
        <h2>Feature Requests</h2>
        We are always on the lookout for useful new features to implement.
        Don't be shy, let us know what you think would make this site better.
        To do so, <a href="http://lukemurphey.net/projects/ancient-text-reader/issues/new">make a feature request</a> and let us know what you would want to see.
        Your feature request will be evaluated and assigned to a release if accepted.
       
        <h2>I really want to send you an email...</h2>
        Alright, send a message to: <a href="mailto:Luke@TextCritical.net">Luke@TextCritical.net</a>.
        
{% endblock %}