{% extends "base_with_nav.html" %}
{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url home %}">Home</a> <span class="divider">/</span></li>
            <li><a href="{% url works_index %}">Library</a> <span class="divider">/</span></li>
            <li class="active">{{work.title}}:{{chapter}}</li>
        </ul>
        
        <h1>{{work.title}} {{chapter}} <small>By {{work.authors.all|join:", "}}</small></h1>
        
        <div class="btn-toolbar">
            <div class="btn-group">
                
                {% comment %}
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Table of Contents
                    <span class="caret"></span>
                </a>
                
                <ul class="dropdown-menu">
	                {% for division_part in divisions.all %}
	                   {% if division.id == division_part.id %}
	                <li class="division_{{division_part.level}} active">
	                    <a href="{% url read_work work.title_slug division_part.sequence_number %}"><i class="icon-book icon-white"></i>{{division_part}}</a>
	                </li>
	                   {% else %}
	                <li class="division_{{division_part.level}}">
	                    <a href="{% url read_work work.title_slug division_part.sequence_number %}"><i class="icon-book"></i>{{division_part}}</a>
	                </li>
	                   {% endif %}
	                {% endfor %}
                </ul>
                {% endcomment %}
                
                
                <button class="btn {% if not divisions %}disabled{% endif %}" data-toggle="button" id="show_table_of_contents">Table of Contents</button>
                <button id="align_break" class="btn"><i class="icon-align-left"></i></button>
            </div>
            {% comment %}
            <div class="btn-group">
                <button class="btn">Side-by-side</button>
                <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">English (Bill Neise)</a></li>
                </ul>
            </div>
            {% endcomment %}
        </div>
        
        {% if divisions %}
        <div class="table_of_contents ">
            {% comment %}<h2><small>Table of Contents</small></h2>{% endcomment %}
	        <ul class="nav nav-list">
	            {% comment %}<li class="nav-header">Table of Contents</li>{% endcomment %}
	            {% for division_part in divisions.all %}
	               {% if chapter.parent_division.id == division_part.id %}
	            <li class="division_{{division_part.level}} active">
	                <a href="{% url read_work work.title_slug division_part.sequence_number %}"><i class="icon-book icon-white"></i>{{division_part}}</a>
	            </li>
	               {% else %}
                <li class="division_{{division_part.level}}">
                    <a href="{% url read_work work.title_slug division_part.sequence_number %}"><i class="icon-book"></i>{{division_part}}</a>
                </li>
	               {% endif %}
	            {% endfor %}
	        </ul>
        </div>
        
        {% endif %}
        
        {% if chapter.parent_division %}
        <h2>{{chapter.parent_division}}</h2>
        {% endif %}
        
        {% for verse in verses.all %}
        <span id="verse_{{verse.indicator}}" class="verse_container {% if verse.indicator == verse_to_highlight %}highlighted{% endif %}">
            {% if verse.indicator|length > 0 %}
            <a class="verse_link" id="verse_link_{{verse.indicator}}" href="?verse={{verse.indicator}}"><span class="label {% if verse.indicator == verse_to_highlight %}label-info{% endif %} verse number">{{verse.indicator}}</span></a>
	        {% endif %}
	        <span class="verse content">{{verse.content}}</span>
        </span>
        {% endfor %}
        
        <ul class="pager">
        {% if previous_chapter %}
            <li class="previous">
                <a href="{% url read_work work.title_slug previous_chapter %}">&larr; Previous</a>
            </li>
        {% endif %}
        {% if next_chapter %}
            <li class="next">
                <a href="{% url read_work work.title_slug next_chapter %}">Next &rarr;</a>
            </li>
        {% endif %}
        </ul>
        
    </div>

{% endblock %}

{% block javascript %}
<script language="javascript">

require(["jquery", "store", "app"], function($) {
    loadStoreSettings();
    $('#align_break').click(toggleVerseBreak);
    $('#show_table_of_contents').click( toggleTOC );
    {% for verse in verses.all %}
    $('#verse_{{verse.indicator}} a').click( function(j) { return function() { return scrollToVerse(j+''); }; }({{verse.indicator}}) );{% endfor %}
    {% if verse_to_highlight %}
    scrolltoAnchor("verse_{{verse_to_highlight}}");
    {% endif %}
});
</script>
{% endblock %}