{% extends "ajah_base_with_nav.html" %}

{% block links %}
{% if previous_chapter %}
<link rel="previous" href="{% url "read_work" work.title_slug %}/{{ previous_chapter.get_division_indicators|join:"/" }}" />
{% endif %}
{% if next_chapter %}
<link rel="next" href="{% url "read_work" work.title_slug %}/{{ next_chapter.get_division_indicators|join:"/" }}" />
{% endif %}
{% endblock %}
{% block content %}

	  <div id="download-dialog" style="display:none" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="download-dialog-label" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="download-dialog-label">Download Book</h3>
		</div>
		<div class="modal-body">
			Select which format you would like to download:
			
			<label>
				<div class="download-format">
					<input type="radio" name="format" value="epub" data-href="{% url "download_work" work.title_slug %}?format=epub" checked /><strong>ePUB Format (Recommended)</strong>
					<div class="description">Supported by most <a class="external" href="http://en.wikipedia.org/wiki/Category:EPUB_readers" target="_blank">ebook readers</a> such as <a class="external" target="_blank" href="http://itunes.apple.com/us/app/ibooks/id364709193?mt=8&ls=1&v0=www-its-ipad-builtinapps-ibooks-us">iBooks</a> (iPad and iPhones), or <a class="external" target="_blank" href="http://www.aldiko.com/">Aldiko</a></div>
				</div>
			</label>
			
			<label>
				<div class="download-format">
					<input type="radio" name="format" value="mobi" data-href="{% url "download_work" work.title_slug %}?format=mobi" /><strong>MOBI Format (Amazon Kindle)</strong>
					<div class="description">Supported by Kindle devices and Kindle reader software</div>
				</div>
			</label>
		</div>
		<div class="modal-footer">
			<button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Close</button>
			<button id="download-work" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><i class="icon-download-alt icon-white"></i> Download</button>
		</div>
	  </div>

		{% load string_utils %}
        <ul class="breadcrumb">
            <li><a href="{% url "home" %}">Home</a> <span class="divider">/</span></li>
            <li><a href="{% url "works_index" %}">Library</a> <span class="divider">/</span></li>
            <li class="active">{{work.title}}{% if chapter %}: {{chapter.get_division_description}}{% endif %}</li>
        </ul>
        <h1 data-work-title-slug="{{work.title_slug}}" data-author="{{authors|join:", "}}" data-work-title="{{work.title}}">{{work.title}}{% if authors|length > 0 %} <small>By {{authors|join:", "}}</small>{% endif %}</h1>
        
        {% comment %}
        ##############################
        # Button toolbar
        ##############################
        {% endcomment %}
        {% load reader_extras %}
        {% with chapter_description=chapter.get_division_description %}
        <div class="hidden-print control-group {% if verse_not_found %}error{% endif %}">
        	<div class="input-append">
        		<input autocorrect="off" autocapitalize="off" class="span3" placeholder="Jump to reference..." id="chapter" value="{{chapter_description}}{% if verse_to_highlight %}{% if chapter_description|contains:"." %}.{% else %}:{% endif %}{{verse_to_highlight}}{% endif %}" type="text">
			    <button class="btn" type="submit" id="change-reference">Go</button>
			    <button class="hidden-phone show-table-of-contents btn {% if not divisions or divisions|length < 2 %}disabled{% endif %}" data-toggle="button" id="show-table-of-contents">Table of Contents</button>
			    <button class="hidden-phone search-work btn" type="submit" id="search-work">Search</button>
			    
				<span class="hidden-phone btn-group no-left-margin">
			        <button class="btn dropdown-toggle middle-button" data-toggle="dropdown">Share <span class="caret"></span></button>
			        <ul class="dropdown-menu right" role="menu">
						<li><a class="share-link share-facebook" href="#"><i class="icon icon-facebook"></i>Post on Facebook</a></li>
						<li><a class="share-link share-twitter" href="#"><i class="icon icon-twitter"></i>Tweet this</a></li>												
						<li><a class="share-link share-email" href="#"><i class="icon icon-mail-alt"></i>Email this</a></li>
			        </ul>
			    </span>
			    <button class="hidden-phone download-work btn show-download-work-dialog" type="submit"><i class="icon-download-alt"></i></button>
			    <button class="hidden-phone get-work-info btn" type="submit"><i class="icon-info-sign"></i></button>
				
			    <button id="align-break" class="btn align-break"><i class="icon-align-left"></i></button>
			    
			    <span style="display:inline-block">
				<span class="visible-phone btn-group">
			        <button class="btn dropdown-toggle last-button" data-toggle="dropdown"> <span class="caret"></span></button>
			        <ul class="dropdown-menu right" role="menu">
			        	{% if divisions and divisions|length > 1 %}
			        	<li><a href="#" class="show-table-of-contents" data-toggle="button" id="show-table-of-contents-phone">Show table of contents</a></li>
			            {% endif %}
			            <li><a href="#" class="search-work" data-toggle="button" >Search</a></li>
			            <li><a class="show-download-work-dialog" href="#">Download book...</a></li>
			            <li></li>
			            
			            {% if related_works and related_works|length > 0 %}
			            <li class="nav-header">Other Versions</li>
							{% for related_work in related_works %}
			                	<li><a href="{% url "read_work" related_work.title_slug %}/{{ chapter.get_division_indicators|join:"/" }}">
			                    {{related_work.language}}
			                        {% for editor in related_work.editors.all %}
			                        {% if not forloop.first %}, {% endif %}
			                        {% if forloop.first %}({% endif %}{{editor.name|simplify_person_name}}{% if forloop.last %}){% endif %}
			                        {% endfor %}
			                    </a></li>
			                {% endfor %}
			            </li>
			            {% endif %}
			            
			            <li class="nav-header">Share</li>
						<li><a class="share-link share-facebook" href="#"><i class="icon icon-facebook"></i>Post on Facebook</a></li>
						<li><a class="share-link share-twitter" href="#"><i class="icon icon-twitter"></i>Tweet this</a></li>												
						<li><a class="share-link share-email" href="#"><i class="icon icon-mail-alt"></i>Email this</a></li>
						
			        </ul>
			    </span>
			    </span>
			  	
				<span class="hidden-phone btn-group no-left-margin">
			        <button class="btn dropdown-toggle last-button" {% if not related_works or related_works|length == 0 %}disabled{% endif %} data-toggle="dropdown">Other versions <span class="caret"></span></button>
			        <ul class="dropdown-menu right" role="menu">
	                    {% for related_work in related_works %}
	                        <li><a href="{% url "read_work" related_work.title_slug %}/{{ chapter.get_division_indicators|join:"/" }}">
	                        	{{related_work.title}} ({{related_work.language}})
	                        	
	                        	{% for editor in related_work.editors.all %}
	                        	{% if not forloop.first %}, {% endif %}
	                        	{{editor.name}}
	                        	{% endfor %}
	                        	</a></li>
	                    {% endfor %}
			            
			        </ul>
			    </span>
			</div>
        </div>

    	
        {% endwith %}
		
        {% comment %}
        ##############################
        # Table of contents
        ##############################
        {% endcomment %}
        {% if divisions and divisions|length > 1 %}
        <div class="table-of-contents">
            <input autocorrect="off" autocapitalize="off" type="text" placeholder="Filter table of contents..." class="division-filter" />
	        <ul class="nav nav-list">
	            {% for division_part in divisions.all %}
	               {% if chapter.parent_division.id == division_part.id %}
	            <li class="division-{{division_part.level}} active">
	                <a data-division-descriptor="{{division_part.descriptor}}" href="{% url "read_work" work.title_slug %}/{{ division_part.get_division_indicators|join:"/" }}"><i class="icon-book icon-white"></i>{{division_part|capfirst}}</a>
	            </li>
	               {% else %}
                <li class="division-{{division_part.level}}">
                    <a data-division-descriptor="{{division_part.descriptor}}" href="{% url "read_work" work.title_slug%}/{{ division_part.get_division_indicators|join:"/" }}"><i class="icon-book {% if USE_DARK_THEME|default_if_none:1 %}icon-white{% endif %}"></i>{{division_part|capfirst}}</a>
                </li>
	               {% endif %}
	            {% endfor %}
	        </ul>
        </div>
        {% endif %}
        
        {% comment %}
        ##############################
        # Chapter progress indicator
        ##############################
        {% endcomment %}
        {% if total_chapters > 1 %}
        {% load humanize %}
        {{completed_chapters|ordinal}} of {{total_chapters}} chapters ({{progress|floatformat:"0"}}%)
        <div class="reading progress progress-striped">
            <div class="bar" style="width: {{progress}}%;"></div>
        </div>
        {% endif %}
        
        {% comment %}
        #############################
        # Chapter division indicator
        ##############################
        {% endcomment %}
        
        {% if chapter.parent_division and divisions and divisions|length > 1 %}
        <h2>{{chapter.get_division_description_titles.title|replace:"βοοκ,Book"}}</h2>
        {% endif %}
        <span class="hide">
        	<span id="divisions">
        		<ul>
        			{% for d in chapter.get_division_indicators %}
        			<li data-division-descriptor="{{d}}" class="division_indicator">{{d}}</li>
        			{% endfor %}
        		</ul>
        	</span>
        </span>
        
        {% with chapter_description=chapter.get_division_description %}
        
        <a class="hide" id="chapter-base-url" href="{% url "read_work" work.title_slug %}/{{ chapter.get_division_indicators|join:"/" }}" data-parent-division-title-slug="{{chapter.parent_division.title_slug}}" data-chapter-description="{{chapter_description}}" >Current chapter</a>
        
        {% load cache %}
        {% cache 0 read_work chapter.id %}
        {% for verse in verses.all %}
        <span id="verse-{{verse.indicator}}" class="verse-container">
            {% if verse.indicator|length > 0 %}
            <a class="verse-link" data-verse="{{verse.indicator}}" data-verse-descriptor="{{chapter_description}}{% if chapter_description|contains:"." %}.{% else %}:{% endif %}{{verse}}" id="verse-link_{{verse.indicator}}" href="{% url "read_work" work.title_slug %}/{{ chapter.get_division_indicators|join:"/" }}/{{verse.indicator}}"><span class="label verse number">{{verse.indicator}}</span></a>
	        {% endif %}
	        {% if verse.original_content|length == 0 %}
	        {{verse.content|unbound_text_to_html5:chapter.work.language|safe}}
	        {% else %}
	        {{verse.original_content|perseus_xml_to_html5:chapter.work.language|safe}}
	        {% endif %}
        </span>
        {% endfor %}
        {% endcache %}
        {% endwith %}
          
        {% comment %}
        #############################
        # Pagination
        #############################
        {% endcomment %}
        
		{% if previous_chapter or next_chapter %}
        <div class="page-shortcuts hidden-print">
        	{% if previous_chapter %}<a href="{% url "read_work" work.title_slug %}/{{ previous_chapter.get_division_indicators|join:"/" }}" class="prior-page-shortcut page-shortcut"></a>{% endif %}
        	{% if next_chapter %}<a href="{% url "read_work" work.title_slug %}/{{ next_chapter.get_division_indicators|join:"/" }}" class="next-page-shortcut page-shortcut"></a>{% endif %}
        </div>
        {% endif %}
        
        {% if chapters|length > 0 or previous_chapter or next_chapter %}
        <div class="pagination hidden-print">
        	<ul>
        {% if previous_chapter %}
	            <li class="previous">
	            <a href="{% url "read_work" work.title_slug %}/{{ previous_chapter.get_division_indicators|join:"/" }}">&larr;<span class="hidden-phone"> Previous</span></a>
	            </li>
        {% endif %}
        {% if chapters|length > 1 %}
        
        {% for c in chapters %}
        		{% if c == chapter %}
        		<li class="active hidden-phone" >
        		{% else %}
        		<li>
        		{% endif %}
        		  <a style="display: inline" href="{% url "read_work" work.title_slug %}/{{ c.get_division_indicators|join:"/" }}">
        		  {% if c.title|contains:"lines" %}
        		  <span class="hidden-desktop">{{c.title.strip|remove:"lines "}}</span>
        		  <span class="visible-desktop">{{c.title}}</span>
        		  {% else %}
        		  {{c.descriptor}}
        		  {% endif %}</a>
        		</li>
        {% endfor %}
        {% endif %}
        {% if next_chapter %}
	            <li class="next">
	            <a href="{% url "read_work" work.title_slug %}/{{ next_chapter.get_division_indicators|join:"/" }}"><span class="hidden-phone">Next </span>&rarr;</a>
	            </li>
        {% endif %}
        	</ul>
        </div>
        {% endif %}

{% endblock %}

{% block javascript %}
<script language="javascript">

require(["jquery", "store", "app", "underscore", "bootstrap", "libs/optional!facebook"], function($) {
	
	TextCritical.loadStoreSettings();
    $('.align-break').click( TextCritical.toggleVerseBreak );
    $('.show-table-of-contents').click( TextCritical.toggleTOC );
    $('.search-work').click( TextCritical.search_this_work );
    
    function update_chapter_reference(e) {
        if (e.keyCode == 13) {
            var ref = $(this).val();
            TextCritical.go_to_chapter(ref, $('h1[data-work-title-slug]').attr('data-work-title-slug'));
            return true;
        }
    }
    
    $("#chapter").keypress( update_chapter_reference );
    
    function go_to_selected_chapter(){
        var ref = $("#chapter").val();
        TextCritical.go_to_chapter(ref, $('h1[data-work-title-slug]').attr('data-work-title-slug'));
        return true;
    }
    
    $("#change-reference").click( go_to_selected_chapter );
    
    $(".verse-link").click(function() {
    	$("#chapter").val( $(this).attr("data-verse-descriptor") );
    	document.title = $("h1[data-work-title]").attr("data-work-title") + " " + $(this).attr("data-verse-descriptor");
    	return TextCritical.scrollToVerse( $(this).attr("data-verse"), $("#chapter-base-url").attr("href") );
    });
    
    {% if verse_to_highlight %}
    TextCritical.highlight_selected_word("verse-{{verse_to_highlight}}");
    TextCritical.scrollToVerse( "{{verse_to_highlight}}", $("#chapter-base-url").attr("href") );
    {% endif %}
    
    $(".word").click( TextCritical.word_lookup );
    $(".word").hover( TextCritical.highlight_selected_word, function(){TextCritical.unhighlight_all_words();} );
    
    $(".note-tag").each(function() {
        var $pElem= $(this);
                
        $pElem.popover(
	            {
	              title: TextCritical.get_note_title($pElem.attr("id")),
	              content: TextCritical.get_note_content($pElem.attr("id"), 200, ' ...<small class="read-more">Click to read more</small>'),
	              html: true,
	              placement: "top",
	              trigger: "hover"
	            }
	      );
        
        $pElem.click( TextCritical.open_note_dialog );
    });
	
    {% if work_alias.title_slug != work.title_slug %}
    TextCritical.update_work_url( $("#chapter-base-url").attr("href") );
    {% endif %}
    
    TextCritical.pre_load_next_link();
    
    TextCritical.list_filter($(".division-filter"), $(".table-of-contents .nav-list"), true);
    
    $(".share-facebook").click(function() {
    	TextCritical.postToFacebook($('h2').text(), $('.verse-container.highlighted .verse:not(.label)').text(), true);
    });
    
    $(".share-twitter").click(function() {
    	TextCritical.postToTwitter( $('.verse-container.highlighted .verse:not(.label)').text(), true);
    });
    
    $(".share-email").click(function() {
    	TextCritical.sendAnEmail(document.title, $('.verse-container.highlighted .verse:not(.label)').text(), true);
    });
    
    $("#download-work").click(function(){
    	link = $('.download-format input:checked').attr("data-href");
    	
    	if( link != undefined ){
    		window.location = link;
    	}
    });
    
    $(".show-download-work-dialog").click(function(){
    	$('#download-dialog').modal();
    });
    
    $(".get-work-info").click(function(){
    	TextCritical.open_topic_dialog($('h1').data('work-title'), $('h1').data('work-title') + " " + $('h1').data('author'));
    });
	
    TextCritical.highlight_searched_terms();
});
</script>
{% endblock %}