<script src="{{ MEDIA_URL|default:"/media/" }}javascripts/modaldialog.tag" type="riot/tag"></script>
<script src="{{ MEDIA_URL|default:"/media/" }}javascripts/aboutdialog.tag" type="riot/tag"></script>
<script src="{{ MEDIA_URL|default:"/media/" }}javascripts/workindex.tag" type="riot/tag"></script>
<script src="{{ MEDIA_URL|default:"/media/" }}javascripts/search.tag" type="riot/tag"></script>
<script src="{{ MEDIA_URL|default:"/media/" }}javascripts/raw.tag" type="riot/tag"></script>
<script src="{{ MEDIA_URL|default:"/media/" }}javascripts/workindexdialog.tag" type="riot/tag"></script>