<script src="{{ MEDIA_URL|default:"/media/" }}javascripts/modaldialog.tag?v={{BUILD_VERSION}}" type="riot/tag"></script>
<script src="{{ MEDIA_URL|default:"/media/" }}javascripts/aboutdialog.tag?v={{BUILD_VERSION}}" type="riot/tag"></script>
<script src="{{ MEDIA_URL|default:"/media/" }}javascripts/workindex.tag?v={{BUILD_VERSION}}" type="riot/tag"></script>
<script src="{{ MEDIA_URL|default:"/media/" }}javascripts/search.tag?v={{BUILD_VERSION}}" type="riot/tag"></script>
<script src="{{ MEDIA_URL|default:"/media/" }}javascripts/raw.tag?v={{BUILD_VERSION}}" type="riot/tag"></script>
<script src="{{ MEDIA_URL|default:"/media/" }}javascripts/workindexdialog.tag?v={{BUILD_VERSION}}" type="riot/tag"></script>