{% extends "base_with_nav.html" %}
{% block content %}
{% load string_utils %}
		<search updateurl runautomatically query="{{query|addspaceifnotempty|default_if_none:""}}" {% if search_related_forms %}searchrelated{% endif %} {% if ignore_diacritics %}ignorediacritics{% endif %} page={{page|default_if_none:"1"}}></search>
{% endblock %}

{% block javascript %}
<script language="javascript">
	
	require(["jquery", "riot", "app", "underscore", "blockui"], function($, riotjs) {
		
		$(document).ready(function() {
			riot = riotjs;
			var tags = riotjs.mount('search, raw');
		});
	
	});
	</script>
{% endblock %}