{% extends "base_with_nav.html" %}
{% block content %}
{% load string_utils %}

        <ul class="breadcrumb">
            <li><a href="{% url home %}">Home</a> <span class="divider">/</span></li>
            <li class="active">Search</li>
        </ul>

<script type="text/html" id='search-results'>

	<% if( search_results.results.length == 0){ %>
<div class="alert alert-block">
  No results were found matching the provided search
</div>
	<% } %>
	<% for (var i = 0; i < search_results.results.length; i++) { %>
		<% var search_result = search_results.results[i]; %>
		<div class="work-description">
			<a href="<%= search_result["url"] %>"><%= search_result["work"] %>, <%= search_result["description"] %></a>
		</div>
		<div class="highlights">
			<% if( search_result["highlights"].length > 0 ){ %>
			<%= search_result["highlights"] %>
			<% } else { %>
			<%= search_result["content_snippet"] %>
			<% } %>
		</div>
	<% } %>

<% 
if( search_results.result_count > ( search_results.page * search_results.page_len ) ) {
	has_next = true;
}
else{
	has_next = false;
}

if( search_results.page <= 1 ){
	has_previous = false;
}
else{
	has_previous = true;
}
%>

<% if( search_results.result_count > 0 ){ %>
<div class="search-results-page-info">Page <%= search_results.page %> of <%= Math.ceil(search_results.result_count / search_results.page_len) %></div>
<% } %>

<ul class="pager">
	<li class="previous <% if( has_previous == false ) { %>disabled<% } %>">
		<a class="previous-page-link">&larr; Previous</a>
	</li>
	<li class="next <% if( has_next == false ) { %>disabled<% } %>">
		<a class="next-page-link">Next &rarr;</a>
	</li>
</ul>
</script>

<form id="search-form">
	<legend>Search</legend>
	<div id="search-help-link"><i class="icon-question-sign icon-white"> </i> <a href="#">Search help</a></div>
	
	<div class="input-append ">

	 	<input class="span10" id="search-term" placeholder="Enter the text to search for" type="text" value="{{query|addspaceifnotempty|default_if_none:""}}"/>
	 	<input type="hidden" id="page-number" name="page" value="{{page|default_if_none:""}}" />
	 	
	 	<button id="search-button" class="btn btn-primary" type="button" >Submit Search</button>
	</div>
</form>

<div id="searching" class="searching-animation">Searching ...</div>
<div class="search-results" id="search-results-content"></div>
		
<div id="search-help">
	<div id="search-help-hide">
		<i class="icon-remove-sign icon-white" ></i> <a id="search-help-hide-link" href="">Close search help</a>
	</div>
	
	<h2>Search Operations</h2>
	
	<p>
	The search language used by TextCritical.net allows several operations. Here are some common ones:
	</p>
	
	<p>
	Search for verses with both ἱστορίας and νόμον:
	<div class="search-example">ἱστορίας νόμον</div>
	</p>
	
	<p>
	Search for verses with the phrase "ἱστορίας νόμον":
	
	<div class="search-example">"ἱστορίας νόμον"</div>
	</p>
	
	<p>
	Search for verses with the word ἱστορίας or νόμον:
	<div class="search-example">ἱστορίας OR νόμον</div>
	</p>
	
	
	<p>
	Search for verses with the word συγγνώμην provided they don't include either ἱστορίας or νόμον:
	<div class="search-example">συγγνώμην NOT (ἱστορίας OR νόμον)</div>
	</p>
	
	
	<p>
	The search engine accepts beta-code representations of Greek words. Thus, a search for no/mon is equivalent to a search for νόμον:
	<div class="search-example">no/mon</div>
	</p>
	
	<h2>Search Fields</h2>
	
	Several fields exist that can be be searched. Just append the field name to the search with a colon to search it (e.g. work:new-testament).
	
	Below are the available fields
	
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Field</th>
				<th>Description</th>
				<th>Example</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>work</td>
				<td>Search for items within a particular work (New Testament, Agammenon, etc.)</td>
				<td><span class="search-example"><span class="search-example">work:"New Testament"</span></td>
			</tr>
			<tr>
				<td>no_diacritics</td>
				<td>Search for words disregarding the diacritical marks. Searching for no_diacritics:και will match on καὶ and καῖ</td>
				<td><span class="search-example">no_diacritics:ευαγγελιον</span></td>
			</tr>
			<tr>
				<td>section</td>
				<td>Search for items within a section (chapter, division, book, etc.)</td>
				<td><span class="search-example">section:"Matthew 5"</span></td>
			</tr>
			<tr>
				<td>author</td>
				<td>Search for verses within works created by a particular author.</td>
				<td><span class="search-example">author:"Flavius Josephus"</span></td>
			</tr>
		</tbody>
	</table>

</div>
		
{% endblock %}

{% block javascript %}
<script language="javascript">

require(["jquery", "store", "app", "underscore", "blockui"], function($) {
	
	$(document).ready(function() {
		
		// Execute the search if we already got a search term
		if ( $("#search-term").val().length > 0 && TextCritical.contains_search_words($("#search-term").val()) ){
			TextCritical.do_search(null, false);
		}
		
		TextCritical.set_caret_at_end( $("#search-term")[0] );
		
		$("#search-button").click( TextCritical.do_fresh_search );
		$("#search-form").submit( TextCritical.do_fresh_search );
		
		$(".next-page-link").click( TextCritical.do_search_next );
		$(".previous-page-link").click( TextCritical.do_search_previous );
		
		window.addEventListener('popstate', TextCritical.search_page_popstate );
		
		$('#search-help-link').click( function() { TextCritical.toggle_search_help(); return false; } );
		$('#search-help-hide-link').click( function() { TextCritical.show_search_help(false); return false; } );
	});

});
</script>
{% endblock %}