{% extends "base_with_nav.html" %}
{% block content %}


<script type="text/html" id='search-results'>
<ul>
	<% if( search_results.length == 0){ %>
<div class="alert alert-block">
  No results were found matching the provided search
</div>
	<% } %>
	<% for (var i = 0; i < search_results.length; i++) { %>
		<% var search_result = search_results[i]; %>
		<li><a href="<%= search_result["url"] %>?highlight=<%= word %>"><%= search_result["work"] %>, <%= search_result["description"] %></a></li>
	<% } %>
</ul>
</script>

<form id="search-form" class="form-horizontal">
	<fieldset>
	
	<legend>Search</legend>
	<div class="control-group">
		<label class="control-label" for="Search">Search</label>
        <div class="controls">
			<input class="input-xxlarge" type="text" id="Search" placeholder="Search terms">
			<p class="help-block">Enter the text to search for. Greek can be entered as beta-code.</p>
		</div>
	</div>
	<!-- 
	<div class="control-group">
		<label class="control-label" for="Author">Author</label>
		
		<div class="controls">
			<select name="author" class="input-xxlarge">
				<option>(All authors)</option>
			{% for author in authors %}
				<option value="{{author.id}}">{{author}}</option>
			{% endfor %}
            </select>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="Work">Work</label>
		
		<div class="controls">
			<select name="work" class="input-xxlarge">
				<option>(All works)</option>
			{% for work in works %}
				<option>{{work.title}}
				{% if work.authors.all.count > 0 %} By {{work.authors.all|join:", "}}{% endif %}
				{% if work.editors.all.count > 0 %} ({{work.editors.all|join:", "}}){% endif %}</option>
			{% endfor %}
            </select>
		</div>
	</div>
	 -->
	<div class="form-actions">
    	<button id="search_button" class="btn btn-primary" type="submit">Search</button>
    </div>
	
	</fieldset>
</form>
		
<div id="searching" class="searching_animation">Searching ...</div>
<div id="search-results-content"></div>
		
{% endblock %}

{% block javascript %}
<script language="javascript">

require(["jquery", "store", "app", "underscore"], function($) {
	
	$(document).ready(function() {
		$("#search_button").click( TextCritical.do_search);
	});

});
</script>
{% endblock %}