{% extends "base.html" %}
{% block base_content %}
 
 		<div id="HTMLReporter" class="jasmine_reporter">
 			<div class="banner">
 				<span class="title">TextCritical.net Javascript Unit Tests</span>
 				<span class="version"></span>
 			</div>
 		</div>

{% endblock %}

{% block javascript %}
<script language="javascript">

require(["jquery", "jasmine", "jasmine_html", "app"], function($) {
	
	function getAsync( url ){
    	var request = $.ajax({
  		  url: url,
  		  async : false,
  		  success: function(html) {
  		      strReturn = html;
  		  },
  		  type: "GET"
  		});
    	
    	return strReturn;
		
	}
	
    {% comment %}
    ##############################
    # API Tests
    ##############################
    {% endcomment %}
    describe("Conversion of beta-code and unicode", function() {
    	
		// Test beta-code to unicode
		it("from beta-code to unicode (as get parameter)", function() {
			expect( getAsync("/api/betacode_to_unicode/?word=*th/nios")['unicode'] ).toBe( "Τήνιος" );
   		});
    	  
		// Test unicode the beta-code
		it("from unicode to beta-code (as get parameter)", function() {
			expect( getAsync("/api/unicode_to_betacode/?word=Τήνιος")['beta-code'].toLowerCase() ).toBe( "*th/nios" );
		});
    	  
		// Test beta-code to unicode
		it("from beta-code to unicode (with argument in URL)", function() {
    		expect( getAsync("/api/unicode_to_betacode/Τήνιος")['beta-code'].toLowerCase() ).toBe( "*th/nios" );
		});
     });
    
    describe("Parsing of Greek words", function() {
    	
		// Test beta-code to unicode
		it("in unicode", function() {
			expect( getAsync("/api/word_parse/?word=ἀφορμάν")[0]['meaning'] ).toBe( "starting-point" );
   		});
    	
		// Test beta-code to unicode
		it("in beta-code", function() {
			expect( getAsync("/api/word_parse_beta_code/?word=A)FORMA/N")[0]['meaning'] ).toBe( "starting-point" );
   		});
  		
    });
    
    describe("Content search", function() {
    	
		// Test search for unicode
		it("on unicode content", function() {
			search_results = getAsync("/api/search/και");
			
	        expect( search_results["results"].length ).toBeGreaterThan( 0 );
			expect( search_results["results"][0]["url"].search("work")  ).not.toBeLessThan( 0 );
			expect( search_results["results"][0]["description"].length ).toBeGreaterThan( 0 );
			expect( search_results["results"][0]["division"].length ).toBeGreaterThan( 0 );
			expect( search_results["results"][0]["highlights"].search("<b") ).toBeGreaterThan( 0 );
			expect( search_results["results"][0]["work"].length ).toBeGreaterThan( 0 );
			expect( search_results["results"][0]["work_title_slug"].length ).toBeGreaterThan( 0 );
	        
	        // Verify the meta-data
	        expect( search_results["page"] ).toEqual( 1 );
	        expect( parseInt(search_results["result_count"]) ).toBeGreaterThan( 0 );
	        expect( parseInt(search_results["page_len"]) ).toEqual( search_results["results"].length );
	       
   		});
		
		// Test search for beta-code
		it("on beta-code content", function() {
			search_results = getAsync("/api/search/kai");
			
	        expect( search_results["results"].length ).toBeGreaterThan( 0 );
	       
   		});
  		
    });
    
    describe("Determination if search contains search words", function() {
    	
		it("when work is specified", function() {
			expect( TextCritical.contains_search_words("λόγους work:new-testament") ).toBe( true );
   		});
    	
		it("when work is specified by ID", function() {
			expect( TextCritical.contains_search_words("λόγους work_id:new-testament") ).toBe( true );
   		});
  		
		it("when work is specified without a search word", function() {
			expect( TextCritical.contains_search_words("work:new-testament") ).toBe( false );
   		});
    	
		it("when work is specified by ID without a search word", function() {
			expect( TextCritical.contains_search_words("work_id:new-testament") ).toBe( false );
   		});
    });
    

    
	
    {% comment %}
    ##############################
    # Reading View Tests
    ##############################
    {% endcomment %}
    
    describe("Resolution of path from reference", function() {
    	
		it("when division includes a number", function() {
			
			reference = "1 Thessalonians 1:4";
	    	division_ids = ["1 Thessalonians", "1", "3"];
			
			expect( TextCritical.resolve_path(reference, division_ids) ).toEqual( "/tests/1 thessalonians/1/4" );
   		});
		
		it("when division does not include a number", function() {
			
			reference = "1 Thessalonians 1:4";
	    	division_ids = ["1 Thessalonians", "1", "3"];
			
			expect( TextCritical.resolve_path(reference, division_ids) ).toEqual( "/tests/1 thessalonians/1/4" );
   		});
    	
    });
    
    describe("Slugify path", function() {
    	
		it("containing a space", function() {
			expect( TextCritical.slugify("1 Corinthians") ).toEqual( "1-Corinthians" );
   		});
		
    });
    
    describe("Trim string", function() {
    	
		it("containing a leading space", function() {
			expect(TextCritical.trim(" 1 Corinthians") ).toEqual( "1 Corinthians" );
   		});
		
		it("containing a trailing space", function() {
			expect(TextCritical.trim("1 Corinthians ") ).toEqual( "1 Corinthians" );
   		});
		
    });

	// Setup jasmine for execution    
    (function() {
    	
    	// Configure the environment
    	var jasmineEnv = jasmine.getEnv();
    	jasmineEnv.updateInterval = 250;
    	  
    	// Use the HTML reporter for disaplying the results
	    var htmlReporter = new jasmine.HtmlReporter();
	    jasmineEnv.addReporter(htmlReporter);
	    
	    jasmineEnv.specFilter = function(spec) {
	        return htmlReporter.specFilter(spec);
	    };
	    
	    var currentWindowOnload = window.onload;
	    window.onload = function() {
	      if (currentWindowOnload) {
	        currentWindowOnload();
	      }
	
	      // Add the version number
	      //document.querySelector('.version').innerHTML = jasmineEnv.versionString();
	      execJasmine();
	    };
	
	    function execJasmine() {
	      jasmineEnv.execute();
	    }
	  })();
		    
	});
</script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ MEDIA_URL }}/stylesheets/jasmine.css">
{% endblock %}