{% extends "base.html" %}
{% block base_content %}
 
 		<div id="HTMLReporter" class="jasmine_reporter">
 			<div class="banner">
 				<span class="title">TextCritical.net Javascript Unit Tests</span>
 				<span class="version"></span>
 			</div>
 		</div>

{% endblock %}

{% block javascript %}
<script language="javascript">

require(["jquery", "jasmine", "jasmine_html", "app"], function($) {
	
	function getAsync( url ){
    	var request = $.ajax({
  		  url: url,
  		  async : false,
  		  success: function(html) {
  		      strReturn = html;
  		  },
  		  type: "GET"
  		});
    	
    	return strReturn;
	}
	
    {% comment %}
    ##############################
    # API Tests
    ##############################
    {% endcomment %}
    describe("Conversion of beta-code and unicode", function() {
    	
		// Test beta-code to unicode
		it("from beta-code to unicode (as get parameter)", function() {
			expect( getAsync("/api/betacode_to_unicode/?text=*th/nios")['unicode'] ).toBe( "Τήνιος" );
   		});
    	  
		// Test unicode the beta-code
		it("from unicode to beta-code (as get parameter)", function() {
			expect( getAsync("/api/unicode_to_betacode/?text=Τήνιος")['beta-code'].toLowerCase() ).toBe( "*th/nios" );
		});
    	  
		// Test beta-code to unicode
		it("from beta-code to unicode (with argument in URL)", function() {
    		expect( getAsync("/api/unicode_to_betacode/Τήνιος")['beta-code'].toLowerCase() ).toBe( "*th/nios" );
		});
     });
    
    describe("Parsing of Greek words", function() {
    	
		// Test beta-code to unicode
		it("in unicode", function() {
			expect( getAsync("/api/word_parse/?word=ἀφορμάν")[0]['meaning'] ).toBe( "starting-point" );
   		});
    	
		// Test beta-code to unicode
		it("in beta-code", function() {
			expect( getAsync("/api/word_parse_beta_code/?word=A)FORMA/N")[0]['meaning'] ).toBe( "starting-point" );
   		});
  		
    });
    
    describe("Getting resolved reference", function() {
    	
		it("for normal reference", function() {
			expect( TextCritical.resolve_path("lxx", "Genesis 2") ).toBe( "/work/lxx/Genesis/2" );
   		});
    	
		// Test reference with dotted verse (See http://lukemurphey.net/issues/550)
		it("for reference containing verse with dotted verse", function() {
			expect( TextCritical.resolve_path("lxx", "Ecclesiasticus 1:1.33") ).toBe( "/work/lxx/Ecclesiasticus/1/1.33" );
   		});
		
		it("for reference containing verse with too many spaces", function() {
			expect( TextCritical.resolve_path("lxx", "Genesis  1:3") ).toBe( "/work/lxx/Genesis/1/3" );
   		});
		
		it("for reference containing books with spaces in the name", function() {
			expect( TextCritical.resolve_path("new-testament", "I Corinthians 1:3") ).toBe( "/work/new-testament/I%20Corinthians/1/3" );
   		});
  		
    });
    
    describe("Content search", function() {
    	
		// Test search for unicode
		it("on unicode content", function() {
			search_results = getAsync("/api/search/no_diacritics:και");
			
	        expect( search_results["results"].length ).toBeGreaterThan( 0 );
			expect( search_results["results"][0]["url"].search("work")  ).not.toBeLessThan( 0 );
			expect( search_results["results"][0]["description"].length ).toBeGreaterThan( 0 );
			expect( search_results["results"][0]["division"].length ).toBeGreaterThan( 0 );
			expect( search_results["results"][0]["highlights"].search("<b") ).toBeGreaterThan( 0 );
			expect( search_results["results"][0]["work"].length ).toBeGreaterThan( 0 );
			expect( search_results["results"][0]["work_title_slug"].length ).toBeGreaterThan( 0 );
	        
	        // Verify the meta-data
	        expect( search_results["page"] ).toEqual( 1 );
	        expect( parseInt(search_results["result_count"]) ).toBeGreaterThan( 0 );
	        expect( parseInt(search_results["page_len"]) ).toEqual( search_results["results"].length );
	       
   		});
		
		// Test search for beta-code
		it("on beta-code content", function() {
			search_results = getAsync("/api/search/kai");
			
	        expect( search_results["results"].length ).toBeGreaterThan( 0 );
	       
   		});
  		
    });
    
    
    describe("Works list", function() {
    	
		// Test getting all works
		it("containing all works", function() {
			works = getAsync("/api/works");
			
	        expect( works.length ).toBeGreaterThan( 400 );
	       
   		});
  		
    });
    
    describe("Determination if search contains search words", function() {
    	
		it("when work is specified", function() {
			expect( TextCritical.contains_search_words("λόγους work:new-testament") ).toBe( true );
   		});
    	
		it("when work is specified by ID", function() {
			expect( TextCritical.contains_search_words("λόγους work_id:new-testament") ).toBe( true );
   		});
  		
		it("when work is specified without a search word", function() {
			expect( TextCritical.contains_search_words("work:new-testament") ).toBe( false );
   		});
    	
		it("when work is specified by ID without a search word", function() {
			expect( TextCritical.contains_search_words("work_id:new-testament") ).toBe( false );
   		});
    });
    
    
    function is_unique(arr) {
        var hash = {}, result = [];
        for ( var i = 0, l = arr.length; i < l; ++i ) {
            if ( hash.hasOwnProperty(arr[i]) ) { //it works with objects! in FF, at least
                return false;
            }
            
            hash[ arr[i] ] = true;
            
        }
        return true;
    }
    
    describe("Typeahead hints", function() {
    	var type_ahead_hints = null;
    	
		it("should be at least 400", function() {
			expect( getAsync("/api/works_typeahead_hints").length ).toBeGreaterThan( 400 );
   		});
		
		it("being loaded from the helper function", function() {
			
			// Get the hints
			runs(function(){
				$.when(TextCritical.get_works_search_typeahead_hints()).done(function(hints){
					type_ahead_hints = hints
	    		});
				
			});
			
			// Wait for the hints to be loaded
			waitsFor(function() {
				
				if(type_ahead_hints !== null){
					return true;
				}
				else{
					return false;
				}
				
			}, "The type-ahead hints did not get loaded", 2000);
			
			// Run the test
			runs(function(){
				expect( type_ahead_hints.length ).toBeGreaterThan( 400 );
            }, 2000);
			
   		});
		
		it("should be unique", function() {
			
			// Get the hints
			runs(function(){
				$.when(TextCritical.get_works_search_typeahead_hints()).done(function(hints){
					type_ahead_hints = hints
	    		});
				
			});
			
			// Wait for the hints to be loaded
			waitsFor(function() {
				
				if(type_ahead_hints !== null){
					return true;
				}
				else{
					return false;
				}
				
			}, "The type-ahead hints did not get loaded", 2000);
			
			// Run the test
			runs(function(){
				expect( is_unique(type_ahead_hints) ).toBe( true );
            }, 2000);
			
   		});
  		
    });
    
    
   	
    {% comment %}
    ##############################
    # Reading View Tests
    ##############################
    {% endcomment %}
    
    describe("Slugify path", function() {
    	
		it("containing a space", function() {
			expect( TextCritical.slugify("1 Corinthians") ).toEqual( "1-Corinthians" );
   		});
		
    });
    
    describe("Trim string", function() {
    	
		it("containing a leading space", function() {
			expect(TextCritical.trim(" 1 Corinthians") ).toEqual( "1 Corinthians" );
   		});
		
		it("containing a trailing space", function() {
			expect(TextCritical.trim("1 Corinthians ") ).toEqual( "1 Corinthians" );
   		});
		
    });
    
    describe("Shorten string", function() {
    	
		it("using the default shorten text", function() {
			expect(TextCritical.shorten("This is a long string that ought to be truncated", 20) ).toEqual( "This is a long&hellip;" );
   		});
		
		it("with non-default shorten text", function() {
			expect(TextCritical.shorten("This is a long string", 20, true, "<br />click to read more...") ).toEqual( "This is a long<br />click to read more..." );
   		});
		
		it("that is right at limit", function() {
			expect(TextCritical.shorten("This is a long string", 21) ).toEqual( "This is a long string" );
   		});
		
		it("that is just under the limit", function() {
			expect(TextCritical.shorten("This is a long string", 20) ).toEqual( "This is a long&hellip;" );
   		});
		
    });
    
    {% comment %}
    ##############################
    # Utility Tests
    ##############################
    {% endcomment %}
    
    describe("Getting a parameter value", function() {
    	
		it("that exists with a value", function() {
			expect(TextCritical.get_parameter_by_name("?number=20", "number") ).toEqual( "20" );
   		});
		
		it("that does not exist", function() {
			expect(TextCritical.get_parameter_by_name("?number=20", "letter") ).toEqual( undefined );
   		});
		
		it("that exists with an empty value", function() {
			expect(TextCritical.get_parameter_by_name("?number", "") ).toEqual( "" );
   		});
		
		it("that exists within a complete URL", function() {
			expect(TextCritical.get_parameter_by_name("http://TextCritical.net/quix?number=20", "number") ).toEqual( "20" );
   		});
		
		it("with multiple values within a complete URL", function() {
			
			var values = TextCritical.get_parameter_by_name("http://TextCritical.net/quix?number=20&number=21", "number", true);
			
			expect(values.length).toEqual(2);
			expect(values[0]).toEqual("20");
			expect(values[1]).toEqual("21");
   		});
		
		it("looking for multiple values but an empty value", function() {
			
			var values = TextCritical.get_parameter_by_name("http://TextCritical.net/quix?number=", "number", true);
			
			expect(values.length).toEqual(1);
			expect(values[0]).toEqual("");
   		});
		
	    it("looking for multiple values but only one in the URL arguments", function() {
			
			var values = TextCritical.get_parameter_by_name("?number=20", "number", true);
			
			expect(values.length).toEqual(1);
			expect(values[0]).toEqual("20");
   		});
	    
	    it("looking for multiple values but with a partial URL", function() {
			
			var values = TextCritical.get_parameter_by_name("?number=20&number=21", "number", true);
			
			expect(values.length).toEqual(2);
			expect(values[0]).toEqual("20");
			expect(values[1]).toEqual("21");
   		});
		
    });    

	// Setup jasmine for execution    
    (function() {
    	
    	// Configure the environment
    	var jasmineEnv = jasmine.getEnv();
    	jasmineEnv.updateInterval = 250;
    	  
    	// Use the HTML reporter for displaying the results
	    var htmlReporter = new jasmine.HtmlReporter();
	    jasmineEnv.addReporter(htmlReporter);
	    
	    jasmineEnv.specFilter = function(spec) {
	        return htmlReporter.specFilter(spec);
	    };
	    
	    var currentWindowOnload = window.onload;
	    window.onload = function() {
	      if (currentWindowOnload) {
	        currentWindowOnload();
	      }
	
	      // Add the version number
	      //document.querySelector('.version').innerHTML = jasmineEnv.versionString();
	      execJasmine();
	    };
	
	    function execJasmine() {
	      jasmineEnv.execute();
	    }
	  })();
	   
	});
</script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/jasmine.css">
{% endblock %}