{% extends "base_with_nav.html" %}
{% block content %}
      
        <ul class="breadcrumb">
            <li><a href="{% url "home" %}">Home</a> <span class="divider">/</span></li>
            <li class="active">Word forms</li>
        </ul>

	<form id="beta-code-form">
		<legend>Word forms</legend>
	    Enter a Greek word to get a list of the possible forms of that word.
	    
	    <div class="beta-code-entry">
	    	<textarea class="span12" id="text" placeholder="Enter word" type="text"></textarea>
	    </div>
	</form>
	
	Forms:
	<div id="output" class="verse text-output well"></div>
	
	<button id="search-button" class="btn btn-primary" type="button">Search for this word</button>
{% endblock %}

{% block javascript %}
<script language="javascript">

require(["jquery", "app"], function($) {
	
	var converted_content = null;
	
	function update_output(){
		
		var str = TextCritical.get_related_forms( $('#text').val() );
		$('#output').text(str);
		
	}
	
	$(document).ready(function() {
		
		$('#text').keyup( function(){
			update_output();
		})
		
		$('#search-button').click( function(){
			document.location = "/search?include_related=1&q=" + $('#text').val();
		});
		
	});

});
</script>
{% endblock %}