{% load string_utils %}
{% load reader_extras %}
{% with chapter_description=chapter.get_division_description %}

{% for verse in verses.all %}
<span id="verse-{{verse.indicator}}" class="verse-container">
    {% if verse.indicator|length > 0 %}
    <a class="verse-link" data-verse="{{verse.indicator}}" data-verse-descriptor="{{chapter_description}}{% if chapter_description|contains:"." %}.{% else %}:{% endif %}{{verse}}" id="verse-link_{{verse.indicator}}" href="{% url "read_work" work.title_slug %}/{{ chapter.get_division_indicators|join:"/" }}/{{verse.indicator}}"><span class="label verse number">{{verse.indicator}}</span></a>
    {% endif %}
    {% if verse.original_content|length == 0 %}
    {{verse.content|unbound_text_to_html5:chapter.work.language|safe}}
    {% else %}
    {{verse.original_content|perseus_xml_to_html5:chapter.work.language|safe}}
    {% endif %}
</span>
{% endfor %}

{% endwith %}