{% extends "base_with_nav.html" %}

{% block content %}
        <ul class="breadcrumb">
            <li><a href="{% url "home" %}">Home</a> <span class="divider">/</span></li>
            <li class="active">Library</li>
        </ul>

        <h1>Library</h1>
        
		<div id="async-loading-message" class="ajah-loading">
			Loading...
			<div class="progress progress-striped active">
				<div class="bar" style="width: 0%;"></div>
			</div>
		</div>
        
        <span id="works_list_container"></span>
		
{% endblock %}

{% block javascript %}
<script language="javascript">
require(["jquery", "libs/text!/media/templates/works_list.html", "datatables", "underscore"], function($, works_list_template) {
		
	function updateFilter(){
		textcritical.datatable.fnFilter( $('input.search-query').val() );
	}
	
	function updateMainFilter(){
		$('input.search-query').val( $('input[aria-controls="works_list"]').val() );
	}
	
	function setupWorksTable(works){
		
		$("#works_list_container").html(_.template(works_list_template,{ works:works,
																		 USE_DARK_THEME:{{USE_DARK_THEME|default_if_none:1|lower}},
																		 search_url:"{% url "search" %}",
																		 read_work_url: "/work"}));
		
    	textcritical.datatable = $('#works_list').dataTable( {
            "bPaginate": true,
            "bLengthChange": false,
            "bJQueryUI": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
		} );
		
		{% if filter %}textcritical.datatable.fnFilter( "{{filter|escapejs}}" );{% endif %}
		$('input.search-query').keyup(_.debounce(updateFilter, 150));
		$('input.search-query').change(_.debounce(updateFilter, 150));
		$('#search').submit( function() { return false; });
		
		$('input[aria-controls="works_list"]').keyup(_.debounce(updateMainFilter, 150));
		
		$('#async-loading-message').hide();
		$('#works_list').fadeIn('slow');
	}
	
    $(document).ready(function() {
    	
    	$('.bar'). css('width', '50%');
    	
    	$.ajax({
    		url: "/api/works"
    	}).done(function(works) {
    		
    		$('.bar'). css('width', '100%');
    		
    		setTimeout( function() { setupWorksTable(works); }, 500);

    	});
    	

    } );
});
</script>
{% endblock %}