{% extends "base_with_nav.html" %}

{% block content %}
		<script src="{{ MEDIA_URL|default:"/media/" }}javascripts/workindex.tag" type="riot/tag"></script>
        <h1 class="pull-left">Library</h1>
        
		<div id="async-loading-message" class="ajah-loading">
			<div class="loading-container">
				<div class="loading-animated"></div>
				<div id="loading-text">loading</div>
			</div>
		</div>
        
        <workindex readworkurl="/work" searchurl="{% url "search" %}" filter="{{filter|default_if_none:""|escapejs}}"></workindex>
		
{% endblock %}

{% block javascript %}
<script language="javascript">
require(["jquery", "riot", "datatables", "underscore"], function($, riotjs) {
	$(document).ready(function() {
		riot = riotjs;
		riotjs.mount('*');
	});
});
</script>
{% endblock %}