{% extends "base_with_nav.html" %}

{% block content %}
        <ul class="breadcrumb">
            <li><a href="{% url home %}">Home</a> <span class="divider">/</span></li>
            <li class="active">About</li>
        </ul>
        
        <h1>About TextCritical.net</h1>
        TextCritical.net is a website that provides ancient Greek texts and useful analysis tools. Development began in September 2012.
        
        <h2>About the Author</h2>
        TextCritical.net is designed and developed by Luke Murphey.
        I'm a Developer at <a class="external" target="_blank" href="http://Splunk.com">Splunk</a>.
        In my free time, I develop open source projects (among other things).
        You can see some of them on <a target="_blank" class="external" href="http://lukemurphey.net/projects">LukeMurphey.net</a>.
        
        <h2>Why make the site?</h2>
        It is surprisingly difficult to find freely accessible ancient Greek works in the original languages online.
        Finding morphologically parsed works is particularly difficult.
        Some works are available for a fee but they are often rather expensive.
        For example, the works of <a href="{% url works_index %}?search=josephus">Flavius Josephus</a> are available from Logos, but they are <a target="_blank" class="external" href="http://www.logos.com/product/5776/josephus-in-greek-niese-critical-edition-with-apparatus">nearly $200</a>!
        TextCritical.net aims to <a href="{% url works_index %}">offer these works</a> for free.
        
        <h2>Source Code</h2>
        This site is open source. See <a target="_blank" class="external" href="http://lukemurphey.net/projects/ancient-text-reader/">LukeMurphey.net</a> for information regarding how to get access to the source code and how to set up your own instance of the site for development purposes.
        <a href="{% url contact %}">Contact us</a> if you like to give us some suggestions or help.
        This work is licensed under a <a rel="license" class="external" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
        <br />
        <a class="license-image" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
            <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
        </a>
{% endblock %}