{% extends "base_with_nav.html" %}
{% block content %}
      
      <div class="hero-unit main_background"">
        <h1>Ancient Greek, Modern Design</h1>
        <p>TextCritical.net is a website that provides a library of ancient Greek works</p>
      </div>

      <div class="row">
        <div class="span4">
          <h2>Start Reading</h2>
          <p>TextCritical currently has {{greek_works_count}} works in the library in ancient Greek and {{english_works_count}} English translations.
          New works and tools are being added as the project develops.</p>
          <p><a class="btn print-append-href" href="{% url "works_index" %}">Start reading &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Get Involved</h2>
          <p>Interested in helping the project?
          Have a bug report or have an idea for an improvement?
          Contact us and let us know what is on your mind.</p>
          <p><a class="btn print-append-href" href="{% url "contact" %}">Contact us &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>About the Project</h2>
          <p>TextCritical.net exists because finding free access to ancient Greek works in the original language is surprisingly difficult.
          The project is <a class="external" target="_blank" href="http://lukemurphey.net/projects/ancient-text-reader/wiki/Source_Code">open source</a>.</p>
          <p><a class="btn print-append-href" href="{% url "about" %}">More info &raquo;</a></p>
        </div>
      </div>
{% endblock %}