{% extends "base_with_nav.html" %}
{% block links %}
{% if previous_chapter %}
<link rel="previous" href="{% url read_work work.title_slug %}/{{ previous_chapter.get_division_indicators|join:"/" }}" />
{% endif %}
{% if next_chapter %}
<link rel="next" href="{% url read_work work.title_slug %}/{{ next_chapter.get_division_indicators|join:"/" }}" />
{% endif %}
{% endblock %}
{% block content %}
		{% load string_utils %}
    	
        <ul class="breadcrumb">
            <li><a href="{% url home %}">Home</a> <span class="divider">/</span></li>
            <li><a href="{% url works_index %}">Library</a> <span class="divider">/</span></li>
            <li class="active">{{work.title}}{% if chapter %}: {{chapter.get_division_description}}{% endif %}</li>
        </ul>
        
        <h1 data-work-title-slug="{{work.title_slug}}">{{work.title}}{% if authors|length > 0 %} <small>By {{authors|join:", "}}</small>{% endif %}</h1>
        
        {% comment %}
        ##############################
        # Button toolbar
        ##############################
        {% endcomment %} 
        {% with chapter_description=chapter.get_division_description %}
        
        <div class="control-group {% if verse_not_found %}error{% endif %}">
        	<div class="input-append">
        		<input class="span3" placeholder="Jump to reference..." id="chapter" value="{{chapter.get_division_description}}{% if verse_to_highlight %}{% if chapter_description|contains:"." %}.{% else %}:{% endif %}{{verse_to_highlight}}{% endif %}" type="text">
			    <button class="btn" type="submit" id="change-reference"><!-- <i class="icon-play"></i>  -->Go</button>
			    <button class="hidden-phone show-table-of-contents btn {% if not divisions or divisions|length < 2 %}disabled{% endif %}" data-toggle="button" id="show-table-of-contents"><!-- <i class="icon-book"></i> -->Table of Contents</button>
			    <button class="hidden-phone search-work btn" type="submit" id="search-work"><!-- <i class="icon-search"></i>  -->Search</button>
			    <button id="align-break" class="hidden-phone btn align-break"><i class="icon-align-left"></i></button>
			</div>
        </div>
        <div class="visible-phone control-group">
        	<div class="btn-group">
        		<button class="btn show-table-of-contents {% if not divisions or divisions|length < 2 %}disabled{% endif %}" data-toggle="button" id="show-table-of-contents"><!-- <i class="icon-book"></i> -->Table of Contents</button>
			    <button class="btn search-work" type="submit" id="search-work"><!-- <i class="icon-search"></i>  -->Search</button>
			    <button id="align-break" class="btn align-break"><i class="icon-align-left"></i></button>
			</div>
        </div>
        {% endwith %}
		
        {% comment %}
        ##############################
        # Table of contents
        ##############################
        {% endcomment %}
        {% load reader_extras %}
        {% if divisions and divisions|length > 1 %}
        <div class="table_of_contents ">
	        <ul class="nav nav-list">
	            {% for division_part in divisions.all %}
	               {% if chapter.parent_division.id == division_part.id %}
	            <li class="division_{{division_part.level}} active">
	                <a data-division-descriptor="{{division_part.descriptor}}" href="{% url read_work work.title_slug %}/{{ division_part.get_division_indicators|join:"/" }}"><i class="icon-book icon-white"></i>{{division_part|capfirst}}</a>
	            </li>
	               {% else %}
                <li class="division_{{division_part.level}}">
                    <a data-division-descriptor="{{division_part.descriptor}}" href="{% url read_work work.title_slug%}/{{ division_part.get_division_indicators|join:"/" }}"><i class="icon-book {% if USE_DARK_THEME|default_if_none:0 %}icon-white{% endif %}"></i>{{division_part|capfirst}}</a>
                </li>
	               {% endif %}
	            {% endfor %}
	        </ul>
        </div>
        {% endif %}
        
        {% comment %}
        ##############################
        # Chapter progress indicator
        ##############################
        {% endcomment %}
        {% if total_chapters > 1 %}
        {% load humanize %}
        {{completed_chapters|ordinal}} of {{total_chapters}} chapters ({{progress|floatformat:"0"}}%)
        <div class="reading progress progress-striped">
            <div class="bar" style="width: {{progress}}%;"></div>
        </div>
        {% endif %}
        
        {% comment %}
        #############################
        # Chapter division indicator
        ##############################
        {% endcomment %}
        
        {% if chapter.parent_division and divisions and divisions|length > 1 %}
        <h2>{{chapter.get_division_description_titles.title}}</h2>
        {% endif %}
        <span class="hide">
        	<span id="divisions">
        		<ul>
        			{% for d in chapter.get_division_indicators %}
        			<li data-division-descriptor="{{d}}" class="division_indicator">{{d}}</li>
        			{% endfor %}
        		</ul>
        	</span>
        </span>
        <a class="hide" id="chapter-base-url" href="{% url read_work work.title_slug %}/{{ chapter.get_division_indicators|join:"/" }}">Current chapter</a>
        
        {% with chapter_description=chapter.get_division_description %}
        
        {% for verse in verses.all %}
        <span id="verse_{{verse.indicator}}" class="verse_container {% if not chapter_not_found and verse.indicator == verse_to_highlight %}highlighted{% endif %}">
            {% if verse.indicator|length > 0 %}
            <a class="verse_link" data-verse="{{verse.indicator}}" data-verse-descriptor="{{chapter_description}}{% if chapter_description|contains:"." %}.{% else %}:{% endif %}{{verse}}" id="verse_link_{{verse.indicator}}" href="{% url read_work work.title_slug %}/{{ chapter.get_division_indicators|join:"/" }}/{{verse.indicator}}"><span class="label {% if not chapter_not_found and verse.indicator == verse_to_highlight %}label-info{% endif %} verse number">{{verse.indicator}}</span></a>
	        {% endif %}
	        {% if verse.original_content|length == 0 %}
	        {{verse.content|unbound_text_to_html5|safe}}
	        {% else %}
	        {{verse.original_content|perseus_xml_to_html5:chapter.work.language|safe}}
	        {% endif %}
        </span>
        {% endfor %}        
        {% endwith %}
         
        {% comment %}
        #############################
        # Pagination
        #############################
        {% endcomment %}
        
        {% if chapters|length > 0 or previous_chapter or next_chapter %}
        <div class="pagination">
        	<ul>
        {% if previous_chapter %}
	            <li class="previous">
	            <a href="{% url read_work work.title_slug %}/{{ previous_chapter.get_division_indicators|join:"/" }}">&larr; Previous</a>
	            </li>
        {% endif %}
        {% if chapters|length > 1 %}
        
        {% for c in chapters %}
        		{% if c == chapter %}
        		<li class="active" >
        		{% else %}
        		<li>
        		{% endif %}
        		  <a href="{% url read_work work.title_slug %}/{{ c.get_division_indicators|join:"/" }}">
        		  {% if c.title|contains:"lines" %}
        		  {{c.title}}
        		  {% else %}
        		  {{c.descriptor}}
        		  {% endif %}</a>
        		</li>
        {% endfor %}
        {% endif %}
        {% if next_chapter %}
	            <li class="next">
	            <a href="{% url read_work work.title_slug %}/{{ next_chapter.get_division_indicators|join:"/" }}">Next &rarr;</a>
	            </li>
        {% endif %}
        	</ul>
        </div>
        {% endif %}

		<script type="text/html" id='morphology-loading'>
			<div class="loading" style="padding-top: 60px;">
				<%= message %>
				<div class="progress progress-striped active">
	    			<div class="bar" style="width: 100%;"></div>
	    		</div>
    		</div>
		</script>
			
		<script type="text/html" id='morphology-info'>

<% if ( parses.length == 0 ) { %>
<h4>Parse not found</h4>
No parses could be found for <%= word %>.
<p>
Try looking the word up on <a target="_blank" class="external" href="http://www.perseus.tufts.edu/hopper/morph?l=<%= word %>&la=greek">Perseus.tufts.edu</a>
or on <a target="_blank" href="https://www.google.com/search?q=<%= word %>">Google</a>.
</p>
<% }
else { %>
<div class="morphology-results">
<% if ( parses.length == 1 ) { %>
Found 1 parse for <%= word %><% }
else { %>Found <%= parses.length %> parses for <%= word %><% } %><% if ( parses[0].ignoring_diacritics ) { %>. An exact match could not be found, so similar words with different diacritical marks are being returned.
<% }
else { %>:
<% } %>

</div>
<table class="table table-striped">
	<thead>
		<tr>
			<% if ( parses[0].ignoring_diacritics ) { %><th>Form</th><% } %>
			<th>Lemma</th>
			<th>Parse</th>
			<th>Meaning</th>
		</tr>
	</thead>
    <tbody>
<% _.each(parses,function(parse){ %>
		<tr>
			<% if ( parses[0].ignoring_diacritics ) { %><td><%= parse.form %></td><% } %>
			<td><a href="#" class="lemma"><%= parse.lemma %></td>
			<td><%= parse.description %></td>
			<td><%= parse.meaning %></td>
        </tr>
<% }); %>
    </tbody>
</table>
<% } %>
Search for other instances of <%= word %> <a href="/search?q=work:<%= work %>%20<%= word %>">in this work</a> or in <a href="/search?q=<%= word %>">all works</a>.
	</script>

	<div id="morphology-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="morphology-dialog-label" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="morphology-dialog-label">Morphology</h3>
		</div>
		<div class="modal-body" id="morphology-dialog-content">
		</div>
		<div class="modal-footer">
			<span class="pull-left dialog-extra-options" id="morphology-dialog-extra-options"></span>
			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>

{% endblock %}

{% block javascript %}
<script language="javascript">

require(["jquery", "store", "app", "underscore", "bootstrap"], function($) {
	TextCritical.loadStoreSettings();
    $('#align-break').click( TextCritical.toggleVerseBreak );
    $('.show-table-of-contents').click( TextCritical.toggleTOC );
    $('.search-work').click( TextCritical.search_this_work );
    
    // Get the division and verse IDs into an array so that the URL can be updated 
    reference_ids = [];
    
    jQuery.each( $('[data-division-descriptor]'), function() {
    	reference_ids.push( $(this).attr("data-division-descriptor") );
    });
    
    jQuery.each( $('[data-verse]'), function() {
    	reference_ids.push( $(this).attr("data-verse") );
    });
    
    function update_chapter_reference(e) {
        if (e.keyCode == 13) {
            var ref = $(this).val();
            TextCritical.go_to_chapter(ref, reference_ids);
            return true;
        }
    }
    
    $("#chapter").keypress( update_chapter_reference );
    
    function go_to_selected_chapter(){
        var ref = $("#chapter").val();
        TextCritical.go_to_chapter(ref, reference_ids);
        return true;
    }
    
    $("#change-reference").click( go_to_selected_chapter );
    
    $(".verse_link").click(function() {
    	$("#chapter").val( $(this).attr("data-verse-descriptor") );
    	return TextCritical.scrollToVerse( $(this).attr("data-verse"), $("#chapter-base-url").attr("href") );
    	
    });
    
    {% if verse_to_highlight %}
    TextCritical.scrolltoAnchor("verse_{{verse_to_highlight}}");
    {% endif %}
    
    $(".word").click( TextCritical.word_lookup );
    $(".word").hover(TextCritical.highlight_selected_word, TextCritical.unhighlight_all_words);
    
    $(".note-tag").each(function() {
        var $pElem= $(this);
        $pElem.popover(
            {
              title: getPopTitle($pElem.attr("id")),
              content: getPopContent($pElem.attr("id")),
              html: true,
              placement: "top",
              trigger: "hover"
            }
        );
    });
    		
    function getPopContent(target) {
        return $("#content_for_" + target).html();
    };
    
    function getPopTitle(target) {
    	
    	note_number = $("#" + target).attr("data-note-number");
    	
    	if( note_number != null){
        	return "Note " + note_number;
    	}
    	else{
    		return "Note";
    	}
    };
    {% if work_alias.title_slug != work.title_slug %}
    TextCritical.update_work_url( $("#chapter-base-url").attr("href") );
    {% endif %}
});
</script>
{% endblock %}