{% extends "base_with_nav.html" %}
{% block content %}
{% load string_utils %}

        <ul class="breadcrumb">
            <li><a href="{% url "home" %}">Home</a> <span class="divider">/</span></li>
            <li class="active">Search</li>
        </ul>

<form id="search-form">
	<legend>Search</legend>
	<div id="search-help-link"><i class="icon-question-sign icon-white"> </i> <a href="#">Help</a></div>
	
	<div class="input-append ">

	 	<input class="span10" id="search-term" autocorrect="off" autocapitalize="off" placeholder="Enter the text to search for (e.g. νόμου or no/mou)" type="text" value="{{query|addspaceifnotempty|default_if_none:""}}"/>
	 	<input type="hidden" id="page-number" name="page" value="{{page|default_if_none:""}}" />
	 	
	 	<button id="search-button" class="btn btn-primary" type="button" ><span class="hidden-phone">Submit </span>Search</button>
	</div>
	<label class="checkbox-label" for="related_forms">
		<input class="checkbox" type="checkbox" id="related_forms" name="related_forms">Search related Greek forms<span class="hidden-phone"> (slower but more thorough)</span></input>
	</label>	
</form>

<div id="searching" class="hide hidden-phone searching-animation">Searching ...</div>


<div class="search-results" id="search-results-content"></div>
		
<div id="search-help">
	
	<h3>Search Operations</h3>
	
	<p>
	The search language used by TextCritical.net allows several operations. Here are some common ones:
	</p>
	
	<p>
	Search for verses with both ἱστορίας and νόμον:
	<div class="search-example">ἱστορίας νόμον</div>
	</p>
	
	<p>
	Search for verses with the phrase "ἱστορίας νόμον":
	
	<div class="search-example">"ἱστορίας νόμον"</div>
	</p>
	
	<p>
	Search for verses with the word ἱστορίας or νόμον:
	<div class="search-example">ἱστορίας OR νόμον</div>
	</p>
	
	
	<p>
	Search for verses with the word συγγνώμην provided they don't include either ἱστορίας or νόμον:
	<div class="search-example">συγγνώμην NOT (ἱστορίας OR νόμον)</div>
	</p>
	
	
	<p>
	The search engine accepts <a target="_blank" class="external" href="http://en.wikipedia.org/wiki/Beta_code">beta-code</a> representations of Greek words. Thus, a search for no/mon is equivalent to a search for νόμον:
	<div class="search-example">no/mon</div>
	</p>
	
	<p>
	<span class="label label-info">Heads up!</span> If you are searching using beta-code, make sure to put your search query in single quotes (e.g. 'no/mon')
	</p>
	
	<h3>Searching Related Forms</h3>
	<p>
	Searching for related forms causes the search engine to look for all other variations of a word. For example, a search for ἀδελφός would also search for ἀδελφοί, ἀδελφοῦ, ἀδελφοί, etc.
	</p>
	<p>
	<span class="label label-info">Heads up!</span> Searching for related forms is considerably slower than searching for a particular form.
	</p>
	
	<h3>Search Fields</h3>
	
	Several fields exist that can be be searched. Just append the field name to the search with a colon to search it (e.g. work:new-testament).
	
	Below are the available fields
	<p>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Field</th>
					<th>Description</th>
					<th>Example</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>work</td>
					<td>Search for items within a particular work (New Testament, Agammenon, etc.)</td>
					<td><span class="search-example"><span class="search-example">work:"New Testament"</span></td>
				</tr>
				<tr>
					<td>no_diacritics</td>
					<td>Search for words disregarding the diacritical marks. Searching for no_diacritics:και will match on καὶ and καῖ</td>
					<td><span class="search-example">no_diacritics:ευαγγελιον</span></td>
				</tr>
				<tr>
					<td>section</td>
					<td>Search for items within a section (chapter, division, book, etc.)</td>
					<td><span class="search-example">section:"Matthew 5"</span></td>
				</tr>
				<tr>
					<td>author</td>
					<td>Search for verses within works created by a particular author.</td>
					<td><span class="search-example">author:"Flavius Josephus"</span></td>
				</tr>
			</tbody>
		</table>
	</p>

	<button id="close-search-help" class="btn pull-right">Close</button>

</div>
		
{% endblock %}

{% block javascript %}
<script language="javascript">

require(["jquery", "store", "app", "underscore", "blockui"], function($) {
	
	$(document).ready(function() {
		
		// Execute the search if we already got a search term
		if ( $("#search-term").val().length > 0 && TextCritical.contains_search_words($("#search-term").val()) ){
			TextCritical.do_search(null, false);
		}
		
		TextCritical.set_caret_at_end( $("#search-term")[0] );
		
		$("#search-button").click( TextCritical.do_fresh_search );
		$("#search-form").submit( TextCritical.do_fresh_search );
		
		$(".next-page-link").click( TextCritical.do_search_next );
		$(".previous-page-link").click( TextCritical.do_search_previous );
		
		window.addEventListener('popstate', TextCritical.search_page_popstate );
		
		$('#search-help-link').click( function() { TextCritical.toggle_search_help(); return false; } );
		$('#close-search-help').click( function() { TextCritical.show_search_help(false); return false; } );
	});

});
</script>
{% endblock %}