{% extends "base_with_nav.html" %}
{% block content %}
        <h1>Tests</h1>
        
        <div id="qunit"></div>
        <div id="qunit-fixture"></div>
 

{% endblock %}

{% block javascript %}
<script language="javascript">

require(["jquery", "qunit", "app"], function($) {
	
    {% comment %}
    ##############################
    # API Tests
    ##############################
    {% endcomment %} 
    test( "betacode_to_unicode_as_get_param", function() {
    	
    	var request = $.ajax({
    		  url: "/api/betacode_to_unicode/?word=*th/nios",
    		  async : false,
    		  success: function(html) {
    		      strReturn = html;
    		  },
    		  type: "GET"
    	});
    	
        equal( strReturn['unicode'], "Τήνιος", "The beta-code of '*th/nios'  value ought to be Τήνιος" );
     });
    
    test( "unicode_to_betacode_as_get_param", function() {
        
        var request = $.ajax({
              url: "/api/unicode_to_betacode/?word=Τήνιος",
              async : false,
              success: function(html) {
                  strReturn = html;
              },
              type: "GET"
        });
        
        equal( strReturn['beta-code'].toLowerCase(), "*th/nios", "Τήνιος ought to be the beta-code '*th/nios'" );
     });
    
    test( "unicode_to_betacode", function() {
        
        var request = $.ajax({
              url: "/api/unicode_to_betacode/Τήνιος",
              async : false,
              success: function(html) {
                  strReturn = html;
              },
              type: "GET"
        });
        
        equal( strReturn['beta-code'].toLowerCase(), "*th/nios", "Τήνιος ought to be the beta-code '*th/nios'" );
     });
    
    test( "word_parse", function() {
        
        var request = $.ajax({
              url: "/api/word_parse/?word=ἀφορμάν",
              async : false,
              success: function(html) {
                  strReturn = html;
              },
              type: "GET"
        });
        
        equal( strReturn[0]['meaning'], "starting-point", "The meaning of ἀφορμάν ought to be 'starting-point'" );
     });
    
    test( "word_parse_beta_code", function() {
        
        var request = $.ajax({
              url: "/api/word_parse_beta_code/?word=A)FORMA/N",
              async : false,
              success: function(html) {
                  strReturn = html;
              },
              type: "GET"
        });
        
        equal( strReturn[0]['meaning'], "starting-point", "The meaning of ἀφορμάν ought to be 'starting-point'" );
    });
    
    test( "search", function() {
        
        var request = $.ajax({
              url: "/api/search/και",
              async : false,
              success: function(html) {
                  strReturn = html;
              },
              type: "GET"
        });
        
        ok( strReturn.results.length > 0, "Search results ought to be provided" );
        ok( strReturn.results[0]["url"].search("work") >= 0, "Search results ought to include a URL" );
        ok( strReturn.results[0]["description"].length > 0, "Search results ought to include a description" );
        ok( strReturn.results[0]["division"].length > 0, "Search results ought to include a division" );
        ok( strReturn.results[0]["highlights"].search("<b") >= 0, "Search results ought to include highlights" );
        ok( strReturn.results[0]["work"].length > 0, "Search results ought to include a work" );
        ok( strReturn.results[0]["work_title_slug"].length > 0, "Search results ought to include a work title" );
        
        // Verify the meta-data
        ok( strReturn["page"] == "1", "Search results ought to include the page number" );
        ok( parseInt( strReturn["result_count"]) > 0, "Search results ought to include the number of results" );
        ok( parseInt( strReturn["page_len"]) == strReturn.results.length, "Search results ought to include the page length and this ought to match the results length" );
    });
    
    test( "contains_search_words", function() {
        ok( TextCritical.contains_search_words("λόγους work:new-testament"), "Search term is included and ought to be designated as such" );
        ok( TextCritical.contains_search_words("λόγους work_id:new-testament"), "Search term is included and ought to be designated as such" );
        ok( !TextCritical.contains_search_words("work_id:new-testament"), "Search term not included and ought to be designated as such" );
        ok( !TextCritical.contains_search_words("work:\"New Testament\""), "Search term not included and ought to be designated as such" );
    });
    
	
    {% comment %}
    ##############################
    # Reading View Tests
    ##############################
    {% endcomment %}
    test( "resolve_path_name_with_spaces", function() {
        
    	reference = "1 Thessalonians 1:4";
    	division_ids = ["1 Thessalonians", "1", "3"];
    	
    	TextCritical.resolve_path(reference, division_ids);
        
        equal( TextCritical.resolve_path(reference, division_ids), "/tests/1 thessalonians/1/4", "A reference to 1 Thessalonians 1:4 ought to be translated to the path '/1 Thessalonians/1/4' and not '/1/Thessalonians/1/4'" );
    });
    
    test( "resolve_path_name_no_spaces", function() {
        
    	reference = "1 Thessalonians 1:4";
    	division_ids = ["1" , "Thessalonians", "1", "3"];
    	
    	TextCritical.resolve_path(reference, division_ids);
        
        equal( TextCritical.resolve_path(reference, division_ids), "/tests/1/thessalonians/1/4", "A reference to 1 Thessalonians 1:4 ought to be translated to the path '/1/Thessalonians/1/4' and not '/1 Thessalonians/1/4' since the division IDs provided didn't include '1 Thessalonians'" );
    });
    
    test( "slugify", function() {
        equal( TextCritical.slugify("1 Corinthians"), "1-Corinthians", "The slug of '1 Corinthians' ought to be'1-Corinthians'" );
    });
    
    test( "trim_leading_space", function() {
        equal( TextCritical.trim(" 1 Corinthians"), "1 Corinthians", "' 1 Corinthians' trimmed ought to be'1 Corinthians'" );
    });
    
    test( "trim_trailing_space", function() {
        equal( TextCritical.trim("1 Corinthians "), "1 Corinthians", "' 1 Corinthians ' trimmed ought to be'1 Corinthians'" );
    });
	    
});
</script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ MEDIA_URL }}/stylesheets/qunit.css">
{% endblock %}