{% extends "base_with_nav.html" %}
{% block content %}

        
        <h1>Tests</h1>
        

        <div id="qunit"></div>
        <div id="qunit-fixture"></div>
 

{% endblock %}

{% block javascript %}
<script language="javascript">

require(["jquery", "qunit", "app"], function($) {
	
    {% comment %}
    ##############################
    # API Tests
    ##############################
    {% endcomment %} 
    test( "betacode_to_unicode_as_get_param", function() {
    	
    	var request = $.ajax({
    		  url: "/api/betacode_to_unicode/?word=*th/nios",
    		  async : false,
    		  success: function(html) {
    		      strReturn = html;
    		  },
    		  type: "GET"
    	});
    	
        equal( strReturn['unicode'], "Τήνιος", "The beta-code of '*th/nios'  value ought to be Τήνιος" );
     });
    
    test( "unicode_to_betacode_as_get_param", function() {
        
        var request = $.ajax({
              url: "/api/unicode_to_betacode/?word=Τήνιος",
              async : false,
              success: function(html) {
                  strReturn = html;
              },
              type: "GET"
        });
        
        equal( strReturn['beta-code'].toLowerCase(), "*th/nios", "Τήνιος ought to be the beta-code '*th/nios'" );
     });
    
    test( "unicode_to_betacode", function() {
        
        var request = $.ajax({
              url: "/api/unicode_to_betacode/Τήνιος",
              async : false,
              success: function(html) {
                  strReturn = html;
              },
              type: "GET"
        });
        
        equal( strReturn['beta-code'].toLowerCase(), "*th/nios", "Τήνιος ought to be the beta-code '*th/nios'" );
     });
    
    test( "word_parse", function() {
        
        var request = $.ajax({
              url: "/api/word_parse/?word=ἀφορμάν",
              async : false,
              success: function(html) {
                  strReturn = html;
              },
              type: "GET"
        });
        
        equal( strReturn[0]['meaning'], "starting-point", "The meaning of ἀφορμάν ought to be 'starting-point'" );
     });
    
    test( "word_parse_beta_code", function() {
        
        var request = $.ajax({
              url: "/api/word_parse_beta_code/?word=A)FORMA/N",
              async : false,
              success: function(html) {
                  strReturn = html;
              },
              type: "GET"
        });
        
        equal( strReturn[0]['meaning'], "starting-point", "The meaning of ἀφορμάν ought to be 'starting-point'" );
    });
	
    {% comment %}
    ##############################
    # Reading View Tests
    ##############################
    {% endcomment %}
    test( "resolve_path_name_with_spaces", function() {
        
    	reference = "1 Thessalonians 1:4";
    	division_ids = ["1 Thessalonians", "1", "3"];
    	
    	TextCritical.resolve_path(reference, division_ids);
        
        equal( TextCritical.resolve_path(reference, division_ids), "/tests/1 Thessalonians/1/4", "A reference to 1 Thessalonians 1:4 ought to be translated to the path '/1 Thessalonians/1/4' and not '/1/Thessalonians/1/4'" );
    });
    
    test( "resolve_path_name_no_spaces", function() {
        
    	reference = "1 Thessalonians 1:4";
    	division_ids = ["1" , "Thessalonians", "1", "3"];
    	
    	TextCritical.resolve_path(reference, division_ids);
        
        equal( TextCritical.resolve_path(reference, division_ids), "/tests/1/Thessalonians/1/4", "A reference to 1 Thessalonians 1:4 ought to be translated to the path '/1/Thessalonians/1/4' and not '/1 Thessalonians/1/4' since the division IDs provided didn't include '1 Thessalonians'" );
    });
    
    test( "slugify", function() {
        equal( TextCritical.slugify("1 Corinthians"), "1-Corinthians", "The slug of '1 Corinthians' ought to be'1-Corinthians'" );
    });
	    
});
</script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ MEDIA_URL }}/stylesheets/qunit.css">
{% endblock %}