# https://docs.djangoproject.com/en/5.1/releases/4.2/
django==4.2.21
# https://django-grappelli.readthedocs.io/en/latest/#versions
django-grappelli==3.0.9
lxml
Genshi
six
wand
pyjwt
bs4
Whoosh
requests
wikipedia
WSGIserver
django-cors-headers
xlsxwriter
python-docx
cryptography
# https://docs.allauth.org/en/dev/release-notes/recent.html
django-allauth==64.2.1
